﻿@using ReportingWeb.Models
@using BusinessServiceFramework.Models
@using DomainModelFramework
@using ReportingBusinessService.Models

@model List<String>

@{
    Info info = (Info)ViewBag.Info;
    Layout = "~/Views/Shared/" + info.Theme + "/_AdminLayout.cshtml";
}

@Html.Partial("_AlertPartial")

<div class="form-group">
    <h3 class="loader">@GeneralResources.Reports</h3>
    <hr />
</div>

<div class="div-admin-content">

    <div class="div-list">
        <div class="form-group panel-group">

            @foreach (String reportString in Model)
            {
                string link = Url.Action("Index", reportString);
                <div class="panel panel-default">
                    <div class="panel-heading" title="title"><a href="@link">@GeneralResources.ResourceManager.GetString(reportString)</a></div>
                    <div class="panel-body" title="item desc">@GeneralResources.Export @GeneralResources.ResourceManager.GetString(reportString)</div>
                </div>
            }

        </div>

    </div>

</div>