﻿<td class="active-status">
    @if (Model.IsActive)
    {
        <div class="active-marker">@GeneralResources.Active</div>
    }
    else
    {
        <div class="inactive-marker">@GeneralResources.Inactive</div>
    }
</td>