﻿<div>
    <div id="div-alert-success" class="alert alert-success @Html.Raw(string.IsNullOrEmpty(ViewBag.SuccessText) ? " hidden" : "" )">
        <span class="glyphicon glyphicon-ok"></span> @Html.Raw(ViewBag.SuccessText)
    </div>

    <div id="div-alert-info" class="alert alert-info @Html.Raw(string.IsNullOrEmpty(ViewBag.InfoText) ? " hidden" : "" )">
        <span class="glyphicon glyphicon-info-sign"></span> @Html.Raw(ViewBag.InfoText)
    </div>

    <div id="div-alert-error" class="alert alert-danger @Html.Raw(string.IsNullOrEmpty(ViewBag.ErrorText) ? " hidden" : "" )">
        <span class="glyphicon glyphicon-exclamation-sign"></span> @Html.Raw(ViewBag.ErrorText)
    </div>
</div>
