﻿@using CulinaryBizDomainModel
@using DomainModelFramework

@model Article

@{
    bool canEdit = (bool)ViewBag.CanEdit;
    bool canDelete = (bool)ViewBag.CanDelete;
}

<td class="list-icon">
    <a href="@Url.Action("View", new { id = Model.ArticleID })">
        <img src="@Url.Content("~/Images/view-normal.png")"
             onmouseover="this.src='@Url.Content("~/images/view-hover.png")'"
             onmouseout="this.src='@Url.Content("~/images/view-normal.png")'"
             alt="@FrameworkResources.View" title="@FrameworkResources.View" />
    </a>
    @if (Model.PublishedDate == null)
    {
        if (canEdit)
        {
            <a href="@Url.Action("Detail", new { id = Model.ArticleID })">
                <img src="@Url.Content("~/Images/edit-normal.png")" onmouseover="this.src='@Url.Content("~/images/edit-hover.png")'"
                     onmouseout="this.src='@Url.Content("~/images/edit-normal.png")'" alt="@FrameworkResources.Edit" title="@FrameworkResources.Edit" />
            </a>
        }
        if (canDelete)
        {
            <a>
                <img src="@Url.Content("~/Images/delete-normal.png")" onmouseover="this.src='@Url.Content("~/images/delete-hover.png")'" onclick="deleteItem(@Model.ArticleID, '@GeneralResources.Article')"
                     onmouseout="this.src='@Url.Content("~/images/delete-normal.png")'" alt="@FrameworkResources.Delete" title="@FrameworkResources.Delete" />
            </a>
        }
    }
</td>