﻿@using ReportingBusinessService.Models
@using ReportingDomainModel
@using System.Collections.Generic
@using System.Linq
@using System.Globalization
@using System.Web.Script.Serialization
@using BusinessServiceFramework.Models

@model Navigation

@{
    string defaultLanguage = ViewBag.DefaultLanguage;
    string language = ViewBag.CurrentLanguage;
    Info store = (Info)ViewBag.Info;
    string baseUrl = string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"));
}

@foreach (NavigationSection section in Model.Sections)
{
    <div id="banner-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            @for (int i = 0; i < section.Items.Count(); i++)
            {
                NavigationItem item = section.Items[i];

                <div class="item @(i == 0 ? "active" : "")">
                    @if (item.DisplayMode == DomainModelFramework.DisplayMode.Image)
                    {
                        string path = Url.Content("~/Images/" + item.GetImage(language, defaultLanguage));
                        if (Request.Browser.IsMobileDevice)
                        {
                            path = path.Insert(path.IndexOf(".png"), "-mobile");
                        }

                        <a href="@Html.Raw(baseUrl+item.Link)">
                            <img src="@path" alt="banner reporting" />
                        </a>
                    }
                    else if (item.DisplayMode == DomainModelFramework.DisplayMode.Video)
                    {
                        string videoName = item.GetVideo(language, defaultLanguage);
                        string videoExt = videoName.Split(new string[] { "." }, StringSplitOptions.RemoveEmptyEntries).LastOrDefault();

                        <video loop="loop">
                            <source src="@Url.Content("~/Videos/" + videoName)" type="video/@videoExt" />
                            sorry; your browser doesn't support HTML5 video in WebM with VP8 or MP4 with H.264.
                        </video>
                    }
                </div>
            }
        </div>

        @if (section.Items.Count > 1)
        {
            @Html.Partial("_BannerPointerPartial")
        }
    </div>
}
