﻿@using BusinessServiceFramework.Models

@model IEnumerable<BreadcrumbItem>

<ol class="breadcrumb">

    @if (Model != null)
    {

        for (int i = 0; i < Model.Count(); i++)
        {
            BreadcrumbItem item = Model.ElementAt(i) as BreadcrumbItem;

            if (i == Model.Count() - 1)
            {
                <li class="active">@item.Text</li>
            }
            else
            {
                <li><a href="@item.Link">@item.Text</a></li>
            }
        }
    }
</ol>