﻿@using DomainModelFramework

<td class="">
    @if (Model.SubDataCount > 0)
    {
        <a role="button" aria-expanded="false" href="@Html.Raw("#sub-data-"+Model.ID)" data-toggle="collapse" class="collapse-link">
            <img class="down-image" src="@Url.Content("~/Images/down-normal.png")" onmouseover="this.src='@Url.Content("~/images/down-hover.png")'"
                 onmouseout="this.src='@Url.Content("~/images/down-normal.png")'" alt="@FrameworkResources.Edit" title="@FrameworkResources.Edit" />
            <img class="hidden up-image" src="@Url.Content("~/Images/up-normal.png")" onmouseover="this.src='@Url.Content("~/images/up-hover.png")'"
                 onmouseout="this.src='@Url.Content("~/images/up-normal.png")'" alt="@FrameworkResources.Edit" title="@FrameworkResources.Edit" />
        </a>
    }
</td>