﻿@using ReportingDomainModel
@using ReportingBusinessService.Models
@using ReportingDomainModel
@using DomainModelFramework
@using ReportingWeb.Models
@using System.Web.Helpers

@model DailyScrumDetail

@{
    var item = Model;

    bool canEdit = (bool)ViewData["CanEdit"];
    List<string> priorities = ViewData["Priorities"] as List<string>;
    string indexData = ViewData["IndexData"].ToString();
    DeveloperSettings devSettings = ViewData["DevSettings"] as DeveloperSettings;

    var controlName = "DailyScrumDetails[" + indexData + "]";
}

<tr name="row-@indexData" indexData="@indexData">

    @Html.Hidden(controlName + ".ProjectTaskID", item.ProjectTaskID)

    @if (canEdit)
    {
        <td class="table-content">
            <input name="select_selected_task" type="checkbox" value="@indexData" indexData="@indexData" />
            @Html.Hidden("DailyScrumDetails.Index", indexData)
            @Html.Hidden(controlName + ".CreatedBy", item.CreatedBy)
            @Html.Hidden(controlName + ".CreatedDate", item.CreatedDate)
            @Html.Hidden(controlName + ".ModifiedBy", item.ModifiedBy)
            @Html.Hidden(controlName + ".ModifiedDate", item.ModifiedDate)
            @Html.Hidden(controlName + ".DailyScrumID", item.DailyScrumID)
            @Html.Hidden(controlName + ".DailyScrumDetailID", item.DailyScrumDetailID)
        </td>
        <td class="table-content">
            @{
                var spanName = controlName + ".ProjectName";
            }
            <label name="@spanName">@item.ProjectName</label>
        </td>
        <td class="table-content">
            @Html.TextArea(controlName + ".ProjectTaskName", item.ProjectTaskName, new { @class = "form-control projecttaskdropdown", indexData = indexData })
        </td>
        <td class="table-content">
            @Html.TextArea(controlName + ".Description", item.Description, new { @class = "form-control descriptiondropdown", indexData = indexData })
        </td>
        <td class="table-content">
            @Html.TextBox(controlName + ".EstHour", (item.EstHour.HasValue ? item.EstHour.Value.ToString("N2") : string.Empty), new { @class = "form-control", mode = "decimal", numval = (item.EstHour.HasValue ? item.EstHour.Value.ToString("N2") : string.Empty) })
        </td>
        <td class="table-content">
            @Html.DropDownList(controlName + ".Priority", new SelectList(priorities, item.Priority), new { @class = "form-control" })
        </td>
        <td class="table-content">
            @Html.TextBox(controlName + ".TargetDate", (item.TargetDate.HasValue ? item.TargetDate.Value.ToString(devSettings.ShortDateFormat) : string.Empty), new { @class = "form-control targetdate", placeholder = String.Format(FrameworkResources.TypeFormat, GeneralResources.TargetDate) })
        </td>
        <td class="table-content">
            @Html.TextArea(controlName + ".Notes", item.Notes, new { @class = "form-control" })
        </td>
    }
    else
    {
        <td class="table-content">
            <span>@item.ProjectName</span>
        </td>
        <td class="table-content">
            <span>@item.ProjectTaskName</span>
        </td>
        <td class="table-content">
            <span>@item.Description</span>
        </td>
        <td class="table-content">
            <label class="control-label">
                @if (item.EstHour.HasValue)
                {
                    item.EstHour.Value.ToString("N2");
                }
            </label>
        </td>
        <td class="table-content">
            <span>@item.Priority</span>
        </td>
        <td class="table-content">
            <span>
                @if (item.TargetDate.HasValue)
                {
                    item.TargetDate.Value.ToString(devSettings.ShortDateFormat);
                }
            </span>
        </td>
        <td class="table-content">
            <span>@item.Notes</span>
        </td>
    }
</tr>