﻿@using ReportingWeb.BaseModels;
@using DomainModelFramework
@using ReportingWeb.Models
@using System.Reflection
@using System.Globalization
@using System.Linq
@using System.Collections.Generic
@using ReportingBusinessService.Models
@using ReportingDomainModel;

@model DetailModel

@{
    GeneralSettings generalSettings = (GeneralSettings)ViewBag.GeneralSettings;
    DeveloperSettings developerSettings = (DeveloperSettings)ViewBag.DeveloperSettings;
    ModelState modelState = new ModelState();
    string controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    string folderName = controllerName.Replace("Admin", "");
    string className = "";
    bool canEdit = (bool)ViewBag.CanEdit;
    string disabledAttribute = canEdit ? "" : "disabled=\"true\"";
    string currentURL = Url.Action("Index", controllerName);

    List<DetailPropertyModel> autoCompleteProperties = Model.DetailPropertyModel.Where(x => x.ControlType == ControlType.AutoCompleteBox).ToList();
}
@Scripts.Render("~/bundles/admin-detail")

<script type="text/javascript">
    var rootPath = '@Url.Content("~/")';
    var maxFileSize = @generalSettings.MaxFileSize
    errorResources.FileSizeTooBig = '@String.Format(FrameworkResources.FileSizeTooBig, generalSettings.MaxFileSize)';
    $(document).ready(function () {
    @foreach (DetailPropertyModel detailPropertyModel in autoCompleteProperties) {
        @Html.Raw("initDetailAutoComplete('" + detailPropertyModel.AutoCompleteTextboxID + "', '" + detailPropertyModel.PropertyName + "', '" + detailPropertyModel.AutoCompleteURL + "');")
    }
    });

</script>

@if (Model.Styles != null && Model.Styles.Count > 0)
{
    foreach (string style in Model.Styles)
    {
        @Styles.Render(style)
    }
}
@if (Model.Scripts != null && Model.Scripts.Count > 0)
{
    foreach (string style in Model.Scripts)
    {
        @Scripts.Render(style)
    }
}

<div id="div-alert-error" class="alert alert-danger form-group @Html.Raw(string.IsNullOrEmpty(ViewBag.ErrorDetail) ? "d-none" : "")">
    <span class="glyphicon glyphicon-exclamation-sign"></span> @Html.Raw(ViewBag.ErrorDetail)
</div>

<div class="form-group">
    <h3 class="loader">@ViewBag.Title</h3>
    <hr />
</div>

<div class="div-content">
    @using (Html.BeginForm("Detail", controllerName, FormMethod.Post, new { @class = "row main-form form-responsive", autocomplete = "off" }))
    {
        string labelClass = "col-lg-4 col-md-4 col-sm-5 d-none d-sm-block";
        string inputClass = "col-lg-8 col-md-8 col-sm-7 col-xs-12";
        string offsetClass = inputClass + " offset-md-4";

        foreach (DetailPropertyModel detailPropertyModel in Model.DetailPropertyModel)
        {
            ControlType controlType = detailPropertyModel.ControlType;
            string name = detailPropertyModel.PropertyName;
            object obj = controlType == ControlType.Custom ? null : Model.Entity.GetType().GetProperty(name).GetValue(Model.Entity, null);
            bool isRequired = detailPropertyModel.IsRequired && canEdit;
            string inputID = name.Replace(".", "_");
            string resourceText = string.IsNullOrEmpty(detailPropertyModel.TextPropertyName) ? GeneralResources.ResourceManager.GetString(name) : detailPropertyModel.TextPropertyName;

            if (string.IsNullOrEmpty(resourceText))
            {
                resourceText = FrameworkResources.ResourceManager.GetString(name);
            }

            string placeholder = String.Format(FrameworkResources.TypeFormat, resourceText);

            className = "";
            modelState = ViewData.ModelState[name];

            if (modelState != null && modelState.Errors.Count > 0)
            {
                className = "input-validation-error";
            }

            if (controlType == ControlType.Hidden)
            {
                <input type="hidden" name="@name" id="@inputID" value="@Html.Raw(obj == null ? "" : obj.ToString())" />
            }
            else
            {
                string css = "div-search-item";
                string style = "";

                if (detailPropertyModel.Width != null)
                {
                    if (detailPropertyModel.Width.Contains("%"))
                    {
                        float width = int.Parse(detailPropertyModel.Width.Substring(0, detailPropertyModel.Width.Length - 1));
                        double flooredWidth = Math.Floor(12 * (width / 100));
                        css += " col-lg-" + flooredWidth;
                        css += " col-md-" + flooredWidth;
                        css += " col-sm-" + flooredWidth;
                        css += " col-" + flooredWidth;
                        css += " col-xs-12";
                    }
                    else
                    {
                        style = "style=\"width: " + detailPropertyModel.Width + "\"";
                    }
                }
                else
                {
                    css += " col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12";
                }

                if (!string.IsNullOrEmpty(detailPropertyModel.Alignment.ToString()))
                {
                    switch (detailPropertyModel.Alignment)
                    {
                        case Alignment.Left:
                        default:
                            css += " text-left";
                            break;
                        case Alignment.Right:
                            css += " text-right";
                            break;
                        case Alignment.Center:
                            css += " text-center";
                            break;
                    }
                }

                <div class="@css" @style>
                    <div class="row">
                        @switch (controlType)
                        {
                            case ControlType.TextArea:
                            case ControlType.Textbox:
                            case ControlType.HTMLEditor:
                            case ControlType.DecimalTextbox:
                            case ControlType.IntegerTextbox:
                            case ControlType.PhoneTextbox:
                            case ControlType.AutoCompleteBox:

                                <div class="@labelClass">
                                    <label class="col-form-label pull-left @Html.Raw(isRequired ? " required" : "")" for="@inputID">@resourceText</label>
                                    <label class="col-form-label pull-right quote">:</label>
                                </div>
                                if (obj is System.String || obj == null || controlType == ControlType.AutoCompleteBox)
                                {
                                    <div class="@inputClass">
                                        @if (controlType == ControlType.TextArea)
                                        {
                                            if (canEdit)
                                            {
                                                <textarea rows="4" class="form-control @className" id="@inputID" name="@name" placeholder="@placeholder">@obj</textarea>
                                            }
                                            else
                                            {
                                                <label class="col-form-label pull-left">@obj</label>
                                            }
                                        }
                                        else if (controlType == ControlType.HTMLEditor)
                                        {
                                            if (canEdit)
                                            {
                                                <textarea id="raw-content" class="form-control custom-editor @className" placeholder="@String.Format(GeneralResources.TypeFormat, GeneralResources.Message)">@obj</textarea>
                                                <input class="uploader d-none" type="file" name="files" accept="image/jpeg,image/png" />
                                                <input type="hidden" name="@name" id="@inputID" value="">
                                            }
                                            else
                                            {
                                                @Html.Raw(obj)
                                            }
                                        }
                                        else if (controlType == ControlType.AutoCompleteBox)
                                        {
                                            object objName = Model.Entity.GetType().GetProperty(detailPropertyModel.AutoCompleteTextboxID).GetValue(Model.Entity, null);
                                            if (canEdit)
                                            {
                                                <input type="text" class="form-control @className" id="@detailPropertyModel.AutoCompleteTextboxID" name="@detailPropertyModel.AutoCompleteTextboxID" placeholder="@placeholder" value="@objName" @Html.Raw(controlType == ControlType.PhoneTextbox ? "mode=\"phone\"" : "") @Html.Raw(controlType == ControlType.IntegerTextbox ? "mode=\"integer\"" : "") @Html.Raw(controlType == ControlType.PhoneTextbox ? "mode=\"phone\"" : "") @Html.Raw(controlType == ControlType.IntegerTextbox ? "numval=\"" + obj.ToString().AsInt().ToString(developerSettings.NumberFormat) + "\"" : "")>

                                                <input type="hidden" name="@name" id="@inputID" value="@Html.Raw(obj == null ? "" : obj.ToString())" />
                                            }
                                            else
                                            {
                                                <label class="col-form-label pull-left">@objName</label>
                                            }
                                        }
                                        else
                                        {
                                            if (canEdit)
                                            {
                                                <input type="text" class="form-control @className" id="@inputID" name="@name" placeholder="@placeholder" value="@obj" @Html.Raw(controlType == ControlType.PhoneTextbox ? "mode=\"phone\"" : "") @Html.Raw(controlType == ControlType.IntegerTextbox ? "mode=\"integer\"" : "") @Html.Raw(controlType == ControlType.PhoneTextbox ? "mode=\"phone\"" : "") @Html.Raw(controlType == ControlType.IntegerTextbox ? "numval=\"" + obj.ToString().AsInt().ToString(developerSettings.NumberFormat) + "\"" : "")>
                                            }
                                            else
                                            {
                                                <label class="col-form-label pull-left">@obj</label>
                                            }
                                        }
                                    </div>
                                }
                                else if (obj is IList<string>)
                                {
                                    <div class="@inputClass">
                                        @foreach (String objString in (List<string>)obj)
                                        {
                                            if (controlType == ControlType.TextArea)
                                            {
                                                if (canEdit)
                                                {
                                                    <textarea rows="4" class="form-control @className" id="@inputID" name="@name" placeholder="@placeholder">@objString</textarea>
                                                }
                                                else
                                                {
                                                    <label class="col-form-label pull-left">@obj</label>
                                                }
                                            }
                                            else if (controlType == ControlType.HTMLEditor)
                                            {
                                                if (canEdit)
                                                {
                                                    <textarea id="raw-content" class="form-control custom-editor @className" placeholder="@String.Format(GeneralResources.TypeFormat, GeneralResources.Message)">@obj</textarea>
                                                    <input class="uploader d-none" type="file" name="files" accept="image/jpeg,image/png" />
                                                    <input type="hidden" name="@name" id="@inputID" value="@obj">
                                                }
                                                else
                                                {
                                                    @Html.Raw(obj)
                                                    //<textarea id="raw-content" class="form-control custom-editor disabled" disabled placeholder="@String.Format(GeneralResources.TypeFormat, GeneralResources.Message)">@obj</textarea>
                                                }
                                            }
                                            else
                                            {
                                                <input type="text" class="form-control @className" id="@inputID" name="@name" @*@disabledAttribute*@ placeholder="@placeholder" value="@objString" @Html.Raw(controlType == ControlType.PhoneTextbox ? "mode=\"phone\"" : "") @Html.Raw(controlType == ControlType.IntegerTextbox ? "mode=\"integer\"" : "") @Html.Raw(controlType == ControlType.PhoneTextbox ? "mode=\"phone\"" : "") @Html.Raw(controlType == ControlType.IntegerTextbox ? "numval=\"" + objString.ToString().AsInt().ToString(developerSettings.NumberFormat) + "\"" : "")>
                                            }
                                        }
                                    </div>
                                }
                                else if (obj is System.Int32)
                                {
                                    <div class="@inputClass">
                                        @if (canEdit)
                                        {
                                            <input type="text" placeholder="@placeholder" class="form-control @className" id="@inputID" name="@name" mode="integer" value="@obj" numval="@obj.ToString().AsInt().ToString(developerSettings.NumberFormat)">
                                        }
                                        else
                                        {
                                            <label class="col-form-label pull-left">@obj.ToString().AsInt().ToString(developerSettings.NumberFormat)</label>
                                        }
                                    </div>

                                }
                                else if (obj is System.Decimal)
                                {
                                    <div class="@inputClass">
                                        @if (canEdit)
                                        {
                                            <input type="text" placeholder="@placeholder" class="form-control @className" id="@inputID" name="@name" value="@obj" mode="decimal" numval="@obj.ToString().AsDecimal().ToString(developerSettings.NumberFormat)">
                                        }
                                        else
                                        {
                                            <label class="col-form-label pull-left">@obj.ToString().AsDecimal().ToString(developerSettings.NumberFormat)</label>
                                        }
                                    </div>
                                }
                                break;
                            case ControlType.MultipleAutoComplete:
                                List<MultipleAutoCompleteModel> dict = obj as List<MultipleAutoCompleteModel>;

                                <label class="col-form-label col-lg-4 col-md-4 col-sm-5 d-none d-sm-block @Html.Raw(isRequired ? " required" : "")" for="@inputID">
                                    <span class="pull-left">@resourceText</span>
                                    <span class="pull-right">:</span>
                                </label>
                                <div class="multi-autocomplete-container col-lg-8 col-md-8 col-sm-7 col-xs-12">
                                    @if (canEdit)
                                    {
                                        <select id="@inputID" multiple class="chosen-select loader" data-placeholder="@placeholder">
                                            @{
                                                if (dict != null && dict.Count() != 0)
                                                {
                                                    List<List<MultipleAutoCompleteModel>> groupedDict = dict.GroupBy(x => x.ParentID).Select(y => y.ToList()).ToList();

                                                    foreach (List<MultipleAutoCompleteModel> parentModel in groupedDict)
                                                    {
                                                        string parentName = parentModel.FirstOrDefault().ParentName;
                                                        long? parentID = parentModel.FirstOrDefault().ParentID;

                                                        <optgroup label="@parentName" class="parent-dropdown" thisid="@parentID">
                                                            @foreach (MultipleAutoCompleteModel thisModel in parentModel)
                                                            {
                                                                <option value="@thisModel.ModelID" class="child-dropdown" selected>@thisModel.ModelName</option>
                                                            }
                                                        </optgroup>

                                                    }
                                                }
                                            }
                                        </select>
                                    }
                                    else
                                    {
                                        var fullName = string.Empty;

                                        foreach (MultipleAutoCompleteModel groupedDict in dict)
                                        {
                                            if (!string.IsNullOrEmpty(fullName))
                                            {
                                                fullName += ", ";
                                            }

                                            fullName += groupedDict.ModelName;
                                        }

                                        <label class="col-form-label">@fullName</label>
                                    }
                                </div>
                                break;
                            case ControlType.FileUploader:
                                break;
                            case ControlType.ImageUploader:

                                string imagePath = Url.Content("~/Images/" + "default.png");

                                if (obj != null)
                                {
                                    if (!string.IsNullOrEmpty(obj.ToString()))
                                    {
                                        if (File.Exists(Server.MapPath("~/Images/" + folderName + "/" + obj.ToString())))
                                        {
                                            imagePath = Url.Content("~/Images/" + folderName + "/" + obj.ToString());
                                        }
                                        else if (File.Exists(Server.MapPath("~/Images/Temp/" + obj.ToString())))
                                        {
                                            imagePath = Url.Content("~/Images/Temp/" + obj.ToString());
                                        }
                                        else if (File.Exists(Server.MapPath("~/Images/" + obj.ToString())))
                                        {
                                            imagePath = Url.Content("~/Images/" + obj.ToString());
                                        }
                                    }
                                }
                                <div class="@labelClass">
                                    <label class="col-form-label pull-left @Html.Raw(isRequired ? " required" : "")" for="@inputID">@resourceText</label>
                                    <label class="col-form-label pull-right quote">:</label>
                                </div>
                                <div class="@inputClass">

                                    <img class="upload-image img-fluid image-uploaded pull-left" src="@Url.Content(imagePath + "?" + DateTime.Now.ToString("ddyyhhmmss"))" alt="@imagePath" title="@resourceText">

                                    @if (canEdit)
                                    {
                                        <input type="hidden" name="@name" id="@inputID" value="@Html.Raw(obj == null ? "" : obj.ToString())" />
                                        <div class="btn btn-primary btn-file row">
                                            <i class="glyphicon glyphicon-search"></i>
                                            @GeneralResources.Browse
                                            <input @*id="ImageUploader"*@ class="uploader image-uploader" type="file" />
                                        </div>

                                        <a id="link-remove-icon" class="link-remove-img" title="@GeneralResources.Remove" style="@Html.Raw(obj == null ? "display:none" : string.Empty)">
                                            <span class="glyphicon glyphicon-minus-sign text-danger">X</span>
                                        </a>
                                    }
                                </div>

                                break;
                            case ControlType.Checkbox:
                                <div class="checkbox">
                                    <label>
                                        @if (canEdit)
                                        {
                                            <input @disabledAttribute data-val="true" id="@inputID" name="@name" type="checkbox" value="@Html.Raw((bool)obj ? "true" : "false")" @Html.Raw((bool)obj ? "checked" : string.Empty)>
                                            <input name="@name" type="hidden" value="false">
                                        }
                                        else
                                        {
                                            <img src="~/Images/@Html.Raw((bool)obj ? "checkmark_icon.png" : "cross_icon.png")" />
                                        }
                                        @resourceText
                                    </label>
                                </div>

                                break;
                            case ControlType.RadioButtons:
                                break;
                            case ControlType.Dropdown:
                                List<SelectListItem> options = detailPropertyModel.Options.ToList();
                                string currentOptID = obj != null ? obj.ToString() : string.Empty;
                                string currentOpt = string.IsNullOrEmpty(currentOptID) ? "-" : options.Where(x => x.Value == currentOptID).FirstOrDefault().Text;

                                <div class="@labelClass" @disabledAttribute>
                                    <label class="col-form-label pull-left @Html.Raw(isRequired ? " required" : "")" for="@inputID">@resourceText</label>
                                    <label class="col-form-label pull-right quote">:</label>
                                </div>
                                <div class="@inputClass">
                                    @if (canEdit)
                                    {
                                        <select id="@inputID" name="@name" class="form-control">
                                            @foreach (SelectListItem option in options)
                                            {
                                                <option value="@option.Value" @Html.Raw(option.Value == currentOptID ? "selected" : "")>@option.Text</option>
                                            }
                                        </select>
                                    }
                                    else
                                    {
                                        <label class="col-form-label pull-left">@currentOpt</label>
                                    }
                                </div>

                                break;
                            case ControlType.DatePicker:
                                <div class="@labelClass">
                                    <label class="col-form-label pull-left @Html.Raw(isRequired ? " required" : "")" for="@inputID">@resourceText</label>
                                    <label class="col-form-label pull-right quote">:</label>
                                </div>
                                <div class="@inputClass">
                                    @if (canEdit)
                                    {
                                        <input type="text" class="form-control datetime" id="@inputID" name="@name" placeholder="@placeholder" value="@(obj == null ? "01/01/2001" : (((DateTime)obj).ToString(developerSettings.ShortDateFormat)))">
                                    }
                                    else
                                    {
                                        <label class="col-form-label pull-left">@(((DateTime)obj).ToString(developerSettings.ShortDateFormat))</label>
                                    }
                                </div>

                                break;
                            case ControlType.DateRange:
                                break;
                            case ControlType.Grid:
                                break;
                            case ControlType.Custom:
                                @Html.Partial(detailPropertyModel.CustomControlPartial, Model.Entity);
                                break;
                        }

                        @if (controlType != ControlType.Custom)
                        {
                            <div class="@offsetClass">
                                @Html.ValidationMessage(name, new { @class = "validation" })
                            </div>
                        }
                    </div>
                </div>

            }
            @*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*@

            @*if (Model.CustomProperties.ContainsKey(name))
                {
                    <div class="form-group row input-container">
                        @{
                            string partialName = Model.CustomProperties.Where(x => x.Key == name).FirstOrDefault().Value;
                            @Html.Partial(partialName, Model.Object);
                        }
                    </div>
                }
                else if (!Model.HiddenProperties.Contains(name) && name != "CreatedBy" && name != "CreatedDate")
                {
                    <div class="form-group row input-container">
                        @{
                            if (Model.ImageProperties.Contains(name))
                            {
                                string imagePath = "default.png";
                                if (obj != null)
                                {
                                    if (!string.IsNullOrEmpty(obj.ToString()))
                                    {
                                        if (File.Exists(Server.MapPath("~/Images/" + folderName + "/" + obj.ToString())))
                                        {
                                            imagePath = Url.Content("~/Images/" + folderName + "/" + obj.ToString());
                                        }
                                        else if (File.Exists(Server.MapPath("~/Images/Temp/" + obj.ToString())))
                                        {
                                            imagePath = Url.Content("~/Images/Temp/" + obj.ToString());
                                        }
                                        else if (File.Exists(Server.MapPath("~/Images/" + obj.ToString())))
                                        {
                                            imagePath = Url.Content("~/Images/" + obj.ToString());
                                        }
                                    }

                                    <div class="@labelClass">
                                        <label class="col-form-label pull-left @Html.Raw(isRequired ? " required" : "")" for="@inputID">@resourceText</label>
                                        <label class="col-form-label pull-right quote">:</label>
                                    </div>
                                    <div class="@inputClass">

                                        <img class="upload-image img-fluid image-uploaded pull-left" src="@Url.Content(imagePath + "?" + DateTime.Now.ToString("ddyyhhmmss"))" alt="@imagePath" title="@resourceText">

                                        @if (canEdit)
                                        {
                                            <input type="hidden" name="@name" id="@inputID" value="@Html.Raw(obj == null ? "" : obj.ToString())" />
                                            <div class="btn btn-primary btn-file row">
                                                <i class="glyphicon glyphicon-search"></i>
                                                @GeneralResources.Browse
                                                <input id="ImageUploader" class="uploader" type="file" />
                                            </div>

                                            <a id="link-remove-icon" class="link-remove-img" title="@GeneralResources.Remove" style="@Html.Raw(string.IsNullOrEmpty(imagePath) ? "display:none" : string.Empty)">
                                                <span class="glyphicon glyphicon-minus-sign text-danger">X</span>
                                            </a>
                                        }
                                    </div>
                                }
                            }
                            else if (Model.DropdownProperties.ContainsKey(name))
                            {
                                KeyValuePair<string, List<SelectListItem>> options = Model.DropdownProperties.FirstOrDefault(x => x.Key == name);

                                <div class="@labelClass" @disabledAttribute>
                                    <label class="col-form-label pull-left @Html.Raw(isRequired ? " required" : "")" for="@inputID">@resourceText</label>
                                    <label class="col-form-label pull-right quote">:</label>
                                </div>
                                <div class="@inputClass">
                                    <select id="@inputID" name="@name" class="form-control">
                                        @foreach (SelectListItem option in options.Value)
                                        {

                                            <option value="@option.Value" @Html.Raw(option.Value == obj.ToString() ? "selected" : "")>@option.Text</option>
                                        }
                                    </select>
                                </div>
                            }
                            else if (Model.DateProperties.Contains(name))
                            {
                                string placeholder = String.Format(FrameworkResources.TypeFormat, resourceText);

                                <div class="@labelClass">
                                    <label class="col-form-label pull-left @Html.Raw(isRequired ? " required" : "")" for="@inputID">@resourceText</label>
                                    <label class="col-form-label pull-right quote">:</label>
                                </div>
                                <div class="@inputClass">
                                    <input type="text" class="form-control datetime" id="@inputID" name="@name" @disabledAttribute placeholder="@placeholder" value="@(obj == null ? "01/01/2001" : obj)">
                                </div>
                            }
                            else
                            {
                                string placeholder = String.Format(FrameworkResources.TypeFormat, resourceText);
                                if (obj is System.String || obj == null)
                                {
                                    <div class="@labelClass">
                                        <label class="col-form-label pull-left @Html.Raw(isRequired ? " required" : "")" for="@inputID">@resourceText</label>
                                        <label class="col-form-label pull-right quote">:</label>
                                    </div>
                                    <div class="@inputClass">
                                        @if (Model.TextAreaProperties.Contains(name))
                                        {
                                            <textarea rows="4" class="form-control @className" id="@inputID" name="@name" @disabledAttribute placeholder="@placeholder">@obj</textarea>
                                        }
                                        else if (Model.TextEditorProperties.Contains(name))
                                        {
                                            if (canEdit)
                                            {
                                                <textarea id="raw-content" class="form-control custom-editor @className" name="@name" @disabledAttribute placeholder="@String.Format(GeneralResources.TypeFormat, GeneralResources.Message)">@obj</textarea>
                                                <input class="uploader d-none" type="file" name="files" accept="image/jpeg,image/png" />
                                            }
                                            else
                                            {
                                                <textarea id="raw-content" class="form-control custom-editor disabled" disabled placeholder="@String.Format(GeneralResources.TypeFormat,GeneralResources.Message)">@obj</textarea>
                                            }
                                        }
                                        else
                                        {
                                            <input type="text" class="form-control @className" id="@inputID" name="@name" @disabledAttribute placeholder="@placeholder" value="@obj" @Html.Raw(Model.PhoneProperties.Contains(name) ? "mode=\"phone\"" : "") @Html.Raw(Model.IntegerProperties.Contains(name) ? "mode=\"integer\"" : "") @Html.Raw(Model.PhoneProperties.Contains(name) ? "mode=\"phone\"" : "") @Html.Raw(Model.IntegerProperties.Contains(name) ? "numval=\"" + obj.ToString().AsInt().ToString(ViewBag.DeveloperSettings.NumberFormat) + "\"" : "")>
                                        }
                                    </div>
                                }
                                else if (obj is IList<string>)
                                {
                                    <div class="@labelClass">
                                        <label class="col-form-label pull-left @Html.Raw(isRequired ? " required" : "")" for="@inputID">@resourceText</label>
                                        <label class="col-form-label pull-right quote">:</label>
                                    </div>
                                    <div class="@inputClass">
                                        @foreach (String objString in (List<string>)obj)
                                        {
                                            if (Model.TextAreaProperties.Contains(name))
                                            {
                                                <textarea rows="4" class="form-control @className" id="@inputID" name="@name" @disabledAttribute placeholder="@placeholder">@objString</textarea>
                                            }
                                            else if (Model.TextEditorProperties.Contains(name))
                                            {
                                                if (canEdit)
                                                {
                                                    <textarea id="raw-content" class="form-control custom-editor @className" name="@name" @disabledAttribute placeholder="@String.Format(GeneralResources.TypeFormat, GeneralResources.Message)">@obj</textarea>
                                                    <input class="uploader d-none" type="file" name="files" accept="image/jpeg,image/png" />
                                                }
                                                else
                                                {
                                                    <textarea id="raw-content" class="form-control custom-editor disabled" disabled placeholder="@String.Format(GeneralResources.TypeFormat,GeneralResources.Message)">@obj</textarea>
                                                }
                                            }
                                            else
                                            {
                                                <input type="text" class="form-control @className" id="@inputID" name="@name" @disabledAttribute placeholder="@placeholder" value="@objString" @Html.Raw(Model.PhoneProperties.Contains(name) ? "mode=\"phone\"" : "") @Html.Raw(Model.IntegerProperties.Contains(name) ? "mode=\"integer\"" : "") @Html.Raw(Model.PhoneProperties.Contains(name) ? "mode=\"phone\"" : "") @Html.Raw(Model.IntegerProperties.Contains(name) ? "numval=\"" + objString.ToString().AsInt().ToString(ViewBag.DeveloperSettings.NumberFormat) + "\"" : "")>
                                            }
                                        }
                                    </div>
                                }
                                else if (obj is System.Int32)
                                {
                                    <div class="@labelClass">
                                        <label class="col-form-label pull-left @Html.Raw(isRequired ? " required" : "")" for="@inputID">@resourceText</label>
                                        <label class="col-form-label pull-right quote">:</label>
                                    </div>
                                    <div class="@inputClass">
                                        <input type="text" placeholder="@placeholder" class="form-control @className" id="@inputID" name="@name" @disabledAttribute mode="integer" value="@obj" numval="@obj.ToString().AsInt().ToString(ViewBag.DeveloperSettings.NumberFormat)">
                                    </div>
                                }
                                else if (obj is System.Decimal)
                                {
                                    <div class="@labelClass">
                                        <label class="col-form-label pull-left @Html.Raw(isRequired ? " required" : "")" for="@inputID">@resourceText</label>
                                        <label class="col-form-label pull-right quote">:</label>
                                    </div>
                                    <div class="@inputClass">

                                        <input type="text" placeholder="@placeholder" class="form-control @className" id="@inputID" name="@name" @disabledAttribute value="@obj" @Html.Raw(Model.NegativeDecimalProperties.Contains(name) ? "mode=\"negative-decimal\"" : "mode=\"decimal\"") numval="@obj.ToString().AsDecimal().ToString(ViewBag.DeveloperSettings.NumberFormat)">
                                    </div>
                                }
                                else if (obj is System.Boolean)
                                {
                                    <div class="@labelClass">
                                        <label class="col-form-label pull-left @Html.Raw(isRequired ? " required" : "")" for="@inputID" @disabledAttribute>@resourceText</label>
                                        <label class="col-form-label pull-right quote">:</label>
                                    </div>
                                    <div class="@inputClass">
                                        <input type="checkbox" @Html.Raw((bool)obj ? "checked" : "") id="@inputID" name="@name" @disabledAttribute value="@Html.Raw((bool)obj ? "true" : "false")" />
                                        <label class="col-form-label @Html.Raw(isRequired ? " required" : "")" for="@inputID">@resourceText</label>
                                    </div>
                                }
                            }

                            <div class="@offsetClass">
                                @Html.ValidationMessage(name, new { @class = "validation" })
                            </div>
                        }
                    </div>
                }
                else
                {
                    <input type="hidden" name="@name" id="@inputID" value="@Html.Raw(obj == null ? "" : obj.ToString())" />
                }*@
        }
        if (canEdit)
        {
            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                <div class="@offsetClass">
                    <button type="submit" class="btn btn-primary">@FrameworkResources.Save</button>
                    <button type="button" class="btn btn-secondary button-cancel" targetlink="@currentURL">@FrameworkResources.Cancel</button>
                </div>
            </div>
        }
        else
        {
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                <div class="@offsetClass">
                    <button type="button" class="btn btn-secondary button-cancel" targetlink="@currentURL">@FrameworkResources.Back</button>
                </div>
            </div>
        }
    }
</div>

