﻿@using Microsoft.AspNet.Identity
@using DomainModelFramework

@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-center navbar-highlight col-md-4 col-lg-5">
        <li class="col-lg-offset-4">@Html.ActionLink(GeneralResources.WhyUs, "Index", "Home", null, null, "WhyUs-section", null, null)</li>
        <li>@Html.ActionLink(GeneralResources.Features, "Features", "Home")</li>
        <li>@Html.ActionLink(GeneralResources.Download, "Index", "Home", null, null, "Download-section", null, null)</li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-center navbar-highlight col-md-6 col-lg-6">
        <li class="col-lg-offset-4">@Html.ActionLink(GeneralResources.WhyUs, "Index", "Home", null, null, "WhyUs-section", null, null)</li>
        <li>@Html.ActionLink(GeneralResources.Features, "Features", "Home")</li>
        <li>@Html.ActionLink(GeneralResources.Download, "Index", "Home", null, null, "Download-section", null, null)</li>
    </ul>
}
