﻿@using JadeInventoryDomainModel
@using DomainModelFramework

@model Language

<td class="default-col">
    @if (Model.IsDefault)
    {
        <img title="@FrameworkResources.Default" class="img-responsive icon-uploaded default" src="@Url.Content("~/Images/default-language.png?" + DateTime.Now.ToString("ddyyhhmmss"))" alt="@FrameworkResources.Default">
    }
</td>