﻿@using DomainModelFramework
@using ReportingBusinessService.Models
@using ReportingWeb.Models

@model ListModel

@{
    long? indexID = (long?)ViewBag.IndexID;
    string controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    Info info = (Info)ViewBag.Info;
}

@if (Model.Styles != null && Model.Styles.Count > 0)
{
    foreach (string style in Model.Styles)
    {
        @Styles.Render(style)
    }
}

@Scripts.Render("~/bundles/paging")
@Scripts.Render("~/bundles/adminlist")

@if (Model.Scripts != null && Model.Scripts.Count > 0)
{
    foreach (string style in Model.Scripts)
    {
        @Scripts.Render(style)
    }
}

<script type="text/javascript">
    var buffer_selected_data_id = [];
    var all_data_id = @Html.Raw(Json.Encode(Model.Data.CollectionID));
    var total_row = parseInt(@Model.Data.Total);
    var row_per_page = @(ViewBag.GeneralSettings.AdminPageSize);
    var url = '@Url.Action("GetData")';
    var url_change_status = '@Url.Action("ChangeStatus")';
    var url_delete = '@Url.Action("Delete")';
    var url_insert = '@Url.Action("Detail")';
    var url_export = '@Url.Action("Export")';
    var url_delete_export = '@Url.Action("DeleteExport")';
    var url_get_csv = '@Url.Action("GetCsv")';
    var url_print = '@Url.Action("Print")';
    var url_get_pdf = '@Url.Action("GetPdf")';

    generalResources ={
        EmptyData:'@GeneralResources.EmptyData',
        FilteredBy:'@GeneralResources.FilteredBy',
        And:'@GeneralResources.And.ToUpper()',
        Or:'@GeneralResources.Or.ToUpper()',
        Name:'@FrameworkResources.Name',
        Type:'@GeneralResources.Type',
        Contains:'@GeneralResources.Contains',
        Equal:'@GeneralResources.Equal',
        NotEqual:'@GeneralResources.NotEqual',
        GreaterThan: '@GeneralResources.GreaterThan',
        LessThan: '@GeneralResources.LessThan',
        NoDataAvailable:'@FrameworkResources.NoDataAvailable',
        NoDataSelected:'@FrameworkResources.NoDataSelected',
        From:'@FrameworkResources.From',
        To: '@FrameworkResources.To',
        SortedBy: '@GeneralResources.SortedBy',
        SortedByOnly: '@GeneralResources.SortedByOnly',
        TotalDescription: '@GeneralResources.TotalDescription',
        Active: '@GeneralResources.Active',
        Inactive: '@GeneralResources.Inactive',
        FieldRequired: '@FrameworkResources.FieldRequired',
        Activated:'@FrameworkResources.Activated',
        Deactivated: '@FrameworkResources.Deactivated',
        Delete: '@GeneralResources.Delete',
        ConfirmDelete: '@GeneralResources.ConfirmDelete'
    };

    var modelFilters = @Html.Raw(Json.Encode(Model.Filters));
    var modelColumns = @Html.Raw(Json.Encode(Model.Columns));
    var columnCount = @Model.Columns.Count;
    var adminPageSize = @ViewBag.GeneralSettings.AdminPageSize;

</script>

<input type="hidden" id="index-id" value="@indexID" />

<div class="form-group">
    <h3 class="loader">@Model.Title</h3>

    <hr />

    @if (Model.Filters.Count > 0)
    {
        <a class="label label-primary filter-button" href="#search-container" data-toggle="collapse">@GeneralResources.FilterData <span class="glyphicon glyphicon-chevron-down"></span></a>
        <div class="clearfix"></div>
    }
</div>

<div class="div-admin-content">
    <div id="search-container" class="collapse">
        <div class="div-search">
            <div class="form-horizontal">
                <div class="row">
                    @foreach (ListFilterItem filter in Model.Filters)
                    {
                        string css = "div-search-item";
                        string style = "";

                        if (filter.Width.Contains("%"))
                        {
                            float width = int.Parse(filter.Width.Substring(0, filter.Width.Length - 1));
                            css += " col-lg-" + (12 * (width / 100));
                            css += " col-md-" + (12 * (width / 100));
                            css += " col-sm-" + (12 * (width / 100));
                            css += " col-xs-12";
                        }
                        else
                        {
                            style = "style=\"width: " + filter.Width + "\"";
                        }

                        if (!string.IsNullOrEmpty(filter.Alignment.ToString()))
                        {
                            switch (filter.Alignment)
                            {
                                case Alignment.Left:
                                default:
                                    css += " text-left";
                                    break;
                                    //case Alignment.Right:
                                    //    css += " text-right";
                                    //    break;
                                    //case Alignment.Center:
                                    //    css += " text-center";
                                    //    break;
                            }
                        }

                        if (!string.IsNullOrEmpty(filter.CSSClasses))
                        {
                            css += " " + filter.CSSClasses;
                        }

                        <div class="@css" @style>

                            <label class="control-label label-name pull-left hidden-sm hidden-xs"><span class="pull-left">@filter.Text</span><span class="pull-right">@(string.IsNullOrEmpty(filter.Text) ? "" : ":")</span></label>

                            @switch (filter.ControlType)
                            {
                                case ControlType.Dropdown:
                                    @Html.DropDownList(filter.Name, new SelectList(filter.Options, "Value", "Text"), new { @class = "form-control " + filter.ControlCSSClasses })
                                    @Html.Hidden(filter.Name + "-search")
                                    break;

                                case ControlType.DateRange:
                                    @Html.TextBox(filter.Name + "FromDate", string.Empty, new { @class = "form-control pull-left" + filter.ControlCSSClasses, placeholder = String.Format(FrameworkResources.TypeFormat, FrameworkResources.Date) })
                                    <label class="control-label pull-left label-to">&nbsp;@FrameworkResources.To &nbsp;</label>
                                    @Html.TextBox(filter.Name + "ToDate", string.Empty, new { @class = "form-control" + filter.ControlCSSClasses, placeholder = String.Format(FrameworkResources.TypeFormat, FrameworkResources.Date) })

                                    @Html.Hidden(filter.Name + "from-search")
                                    @Html.Hidden(filter.Name + "to-search")
                                    break;

                                case ControlType.Custom:
                                    @Html.Partial(filter.CustomControlPartial)
                                    break;

                                case ControlType.AutoCompleteBox:
                                case ControlType.DatePicker:
                                case ControlType.Textbox:
                                default:
                                    @Html.TextBox(filter.Name, string.Empty, new { @class = "form-control " + filter.ControlCSSClasses, @placeholder = String.Format(FrameworkResources.TypeFormat, filter.Text) })
                                    @Html.Hidden(filter.Name + "-search")
                                    break;
                            }
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        @if (Model.Filters.Count > 0)
        {
            <div class="form-group">
                @if (string.IsNullOrEmpty(Model.CustomFilterButtonsPartialName))
                {
                    <div class="div-search-button text-center">
                        <button type="button" class="btn btn-primary loader" id="button-search">
                            <span class="glyphicon glyphicon-search"></span> @FrameworkResources.Search
                        </button>
                        <button type="button" class="btn btn-default loader" id="button-reset">
                            <span class="glyphicon glyphicon-refresh"></span> @FrameworkResources.Reset
                        </button>
                    </div>
                }
                else
                {
                    @Html.Partial(Model.CustomFilterButtonsPartialName)
                }
            </div>
        }
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div id="div-buttons" class="form-group">
                @if (Model.CanInsert)
                {
                    <button id="button-insert" type="button" class="btn btn-primary">@FrameworkResources.Insert</button>
                }

                @if (Model.CanActivate)
                {
                    <button id="button-activate" type="button" class="btn btn-default">@FrameworkResources.Activate</button>
                    <button id="button-deactivate" type="button" class="btn btn-default">@FrameworkResources.Deactivate</button>
                }

                @if (Model.CanExport)
                {

                    <button id="button-export" type="button" class="btn btn-default">@GeneralResources.Export</button>

                    @*using (Html.BeginForm("Export", "Export", FormMethod.Post, new { customType = "user" }))
                    {
//                        string downloadLink = "<a href=\"" + @Url.Action("Outlets", "Export") + "\" name=\"templateDownload\" class=\"link-import\">";
                        <a href="@Url.Action("Export", "Outlets")" name="templateDownload" class="link-import">
                            <div @*id="button-export" type="button" class="btn btn-default">@GeneralResources.Export</div>
                        </a>
                    }*@

                }

                @if (!string.IsNullOrEmpty(Model.CustomButtonsPartialName))
                {
                    @Html.Partial(Model.CustomButtonsPartialName)
                }
            </div>
        </div>

        @if (Model.SortOptions != null)
        {
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-horizontal" id="div-sort">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            @{
                                SelectList sorts = (SelectList)Model.SortOptions;
                                List<SelectListItem> sortOption = sorts.Select(x =>
                                {
                                    return new SelectListItem()
                                    {
                                        Text = x.Text,
                                        Value = x.Value.ToString(),
                                    };
                                }).ToList();
                            }
                            @Html.DropDownList("Sort", sortOption, new { @class = "form-control type-dropdown pull-right" })

                            <label class="pull-right control-label label-name" for="SortOption">@GeneralResources.SortBy:</label>
                        </div>
                    </div>


                </div>
            </div>
        }
    </div>

    @Html.Partial("_AlertPartial")

    @if (Model.Columns != null && Model.Data.Collection != null)
    {
    <div class="div-list">

        <div class="table-responsive">
                <table name="main-list" class="table table-striped">

                <colgroup>

                    @foreach (ListColumn column in Model.Columns)
                    {
                        <col @(!string.IsNullOrEmpty(column.Width) ? "width=" + column.Width + "" : "") />
                    }

                </colgroup>
                <thead>
                    <tr>
                        @for (int i = 0; i < Model.Columns.Count; i++)
                        {
                            ListColumn column = Model.Columns[i];

                            if (column.DisplayMode == ListColumnDisplayMode.Checkbox)
                            {
                                <th></th>
                            }
                            else if (column.DisplayMode == ListColumnDisplayMode.CheckboxWithSelectAll)
                            {
                                <th>@Html.CheckBox("all-checkbox-item")</th>
                            }
                            else
                            {
                                <th>@(!string.IsNullOrEmpty(column.HeaderText) ? column.HeaderText : "")</th>
                            }
                        }
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Data.Collection.Count() == 0)
                    {
                        <tr>
                            <td colspan="@Model.Columns.Count" class="form-group text-center div-nodata">@GeneralResources.EmptyData</td>
                        </tr>
                    }
                    else
                    {
                        foreach (BaseEntity item in Model.Data.Collection)
                        {
                            Dictionary<bool, string> subData = new Dictionary<bool, string>();
                            subData.Add(Model.HasSubData, Model.CustomSubDataPartialName);
                            ViewBag.SubData = subData;
                            @Html.Partial("_ListItemPartial", item)
                        }
                    }
                </tbody>
            </table>
        </div>

        <div id="total-description" class="text-right required" style="font-size: 90%;">
            @{ int cnt = Model.Data.Total < ViewBag.GeneralSettings.AdminPageSize ? Model.Data.Total : ViewBag.GeneralSettings.AdminPageSize; }
            @string.Format(GeneralResources.TotalDescription, cnt, Model.Data.Total)
        </div>

        <div class="text-center">
            <ul class="pagination"></ul>
        </div>
    </div>
    }

</div>


<!-- Modal Delete Confirmation-->
<div id="modal-delete-confirmation" class="modal-container">
    <div class="modal-body">
        <div class="delete-container">
            <span class="delete-confirmation"></span>
        </div>
    </div>
</div>