﻿@using DomainModelFramework
@using ReportingWeb.Models
@using System.Reflection
@using System.Globalization
@using System.Linq
@using System.Collections.Generic

@model BaseEntity

@{
    Type type = Type.GetType(ViewBag.EntityType);
    string keyValue = ViewBag.KeyPropertyInfo != null ? ViewBag.KeyPropertyInfo.GetValue(Model, null).ToString() : "";
   Dictionary<bool, string> subData= new Dictionary<bool, string>();

   if (ViewBag.SubData!=null)
   {
       subData = (Dictionary<bool, string>)ViewBag.SubData;
   }
}

<tr @(ViewBag.KeyPropertyInfo != null ? "itemID=" + keyValue : "'")>
    @foreach (ListColumn column in ViewBag.Columns)
    {
        string value = "";

        if (!string.IsNullOrEmpty(column.TextPropertyName))
        {
            object obj = Model;
            Type objType = type;

            foreach (string name in column.TextPropertyName.Split(new char[] { '.' }))
            {
                PropertyInfo info = objType.GetProperty(name);

                if (info != null)
                {
                    obj = info.GetValue(obj, null);
                    objType = info.PropertyType;
                }
                else
                {
                    break;
                }
            }

            if (obj is System.DateTime)
            {
                value = DateTime.Parse(obj.ToString()).ToString(ViewBag.DeveloperSettings.ShortDateFormat);
            }
            else if (obj is decimal)
            {
                value = decimal.Parse(obj.ToString()).ToString("N0");
            }
            else
            {
                if (obj != null)
                {
                    value = obj.ToString();
                }
            }
        }
        else
        {
            value = column.Text;
        }

        switch (column.DisplayMode)
        {
            case ListColumnDisplayMode.Checkbox:
            case ListColumnDisplayMode.CheckboxWithSelectAll:
                if (!string.IsNullOrEmpty(keyValue))
                {
                    <td>
                        @Html.CheckBox("checkbox-item-" + keyValue)
                    </td>
                }
                break;

            case ListColumnDisplayMode.Custom:
            @Html.Partial(@column.CustomPartialName, Model)
                break;

            case ListColumnDisplayMode.Text:
            default:
            <td>
                @Html.Raw(string.IsNullOrEmpty(value) ? "-" : value)
            </td>
                break;

            case ListColumnDisplayMode.Image:
            <td>
                <img src="@Url.Content("~/Images/" + value)" />
            </td>
                break;
        }
    }
</tr>

@if (subData.FirstOrDefault().Key)
{
    if (!string.IsNullOrEmpty(subData.FirstOrDefault().Value))
    {
        @Html.Partial(subData.FirstOrDefault().Value, Model)
    }
}