﻿@using Microsoft.AspNet.Identity
@using DomainModelFramework

@if (Request.IsAuthenticated)
{
    string defaultMenu = (string)ViewBag.DefaultMenu;

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right", autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <span class="label-login-info">@string.Format(FrameworkResources.HiFormat, User.Identity.GetUserName() + "!")</span>
            </li>
            @*<li>
                @Html.ActionLink("Reporting", "Index", @defaultMenu)
            </li>*@
            <li>
                @Html.ActionLink(GeneralResources.MyAccount, "Index", "MyAccount", routeValues: new { }, htmlAttributes: new { title = "Manage" })
            </li>

            <li>
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", autocomplete = "off" }))
                {
                    <a href="javascript:document.getElementById('logoutForm').submit()">@FrameworkResources.LogOut</a>
                }
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li id="btn-login-header">@Html.ActionLink(FrameworkResources.Login, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        @*<li>@Html.ActionLink(FrameworkResources.Register, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
    </ul>
}
