﻿@using DomainModelFramework

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal-title"></h4>
            </div>
            <div id="modal-loading" class="modal-body hide text-center">
                <i class="fa fa-spinner fa-spin"></i> &nbsp; Loading ...
            </div>
            <div id="modal-content" class="modal-body">
            </div>
            <div id="modal-inner-loader" class="hide "><i class="fa fa-spinner fa-spin"></i>Loading</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@FrameworkResources.Close</button>
                <button type="button" class="btn btn-primary" id="btn-submit">@FrameworkResources.Submit</button>
            </div>
        </div>
    </div>
</div>