﻿@using ReportingDomainModel

@model ProjectTaskMemberDetail

@{
    var item = Model;

    bool canEdit = (bool)ViewData["CanEdit"];
    IEnumerable<StatusTask> statusTasks = ViewData["StatusTasks"] as IEnumerable<StatusTask>;
    string indexData = ViewData["IndexData"].ToString();

    var controlName = "ProjectTaskMemberDetails[" + indexData + "]";
}

<tr name="row-@indexData" indexData="@indexData">

    @Html.Hidden(controlName + ".ProjectTaskID", item.ProjectTaskID)

    @if (canEdit)
    {
        <td class="table-content">
            <input name="select_selected_task" type="checkbox" value="@indexData" indexData="@indexData" />
            @Html.Hidden("ProjectTaskMemberDetails.Index", indexData)
            @Html.Hidden(controlName + ".CreatedBy", item.CreatedBy)
            @Html.Hidden(controlName + ".CreatedDate", item.CreatedDate)
            @Html.Hidden(controlName + ".ModifiedBy", item.ModifiedBy)
            @Html.Hidden(controlName + ".ModifiedDate", item.ModifiedDate)
            @Html.Hidden(controlName + ".ProjectTaskMemberID", item.ProjectTaskMemberID)
            @Html.Hidden(controlName + ".ProjectTaskMemberDetailID", item.ProjectTaskMemberDetailID)
        </td>
        <td class="table-content">
            @{
                var spanName = controlName + ".ProjectName";
            }
            <label name="@spanName">@item.ProjectName</label>
        </td>
        <td class="table-content">
            @Html.TextArea(controlName + ".ProjectTaskName", item.ProjectTaskName, new { @class = "form-control projecttaskdropdown", indexData = indexData })
        </td>
        <td class="table-content">
            @Html.TextArea(controlName + ".Description", item.Description, new { @class = "form-control descriptiondropdown", indexData = indexData })
        </td>
        <td class="table-content">
            @Html.DropDownList(controlName + ".StatusTaskID", new SelectList(statusTasks, "StatusTaskID", "Name", item.StatusTaskID), new { @class = "form-control" })
        </td>
        <td class="table-content">
            @Html.TextBox(controlName + ".Duration", item.Duration.ToString("N2"), new { @class = "form-control", mode = "decimal", numval = item.Duration.ToString("N2") })
        </td>
        <td class="table-content">
            @Html.TextArea(controlName + ".Notes", item.Notes, new { @class = "form-control" })
        </td>
    }
    else
    {
        <td class="table-content">
            <span>@item.ProjectName</span>
        </td>
        <td class="table-content">
            <span>@item.ProjectTaskName</span>
        </td>
        <td class="table-content">
            <span>@item.Description</span>
        </td>
        <td class="table-content">
            <span>@item.StatusTask.Name</span>
        </td>
        <td class="table-content">
            <label class="control-label">@item.Duration.ToString("N2")</label>
        </td>
        <td class="table-content">
            <span>@item.Notes</span>
        </td>
    }
</tr>