﻿@using ReportingDomainModel

<td class="active-status">
    @if (Model.Status == ProjectTaskMemberStatus.APPROVED.ToString())
    {
        <div class="green-marker">@GeneralResources.Approved.ToString().ToUpper()</div>
    }
    else if (Model.Status == ProjectTaskMemberStatus.WAITINGFORREVIEW.ToString())
    {
        <div class="gray-marker">@GeneralResources.WaitingForReview.ToString().ToUpper()</div>
    }
    else
    {
    <div class="red-marker">@GeneralResources.Rejected.ToString().ToUpper()</div>
    }
</td>