﻿@using DomainModelFramework

<script type="text/javascript">
    var url_get_projects = '@Url.Action("GetReportProjects", "BaseReport")';
</script>

<select id="project-dropdown" data-placeholder="@string.Format(FrameworkResources.TypeFormat,GeneralResources.Project)" multiple class="chosen-select"></select>
