﻿@using ReportingDomainModel
@using DomainModelFramework

@model ProjectTaskMember

@{
    bool canEdit = (bool)ViewBag.CanEdit;
    bool canDelete = (bool)ViewBag.CanDelete;
    bool canApprove = Model.Status != ProjectTaskMemberStatus.APPROVED.ToString();
    bool canReject = Model.Status != ProjectTaskMemberStatus.REJECTED.ToString();

    long modelID = Model.ProjectTaskMemberID;
}

<td class="list-icon">
    @if (canApprove)
    {
        <a class="button_approve" id="@modelID">
            @GeneralResources.Approve
        </a>

        if (canReject)
        {
            <label>/</label>
        }
    }
    @if (canReject)
    {
        <a class="button_reject" id="@modelID">
            @GeneralResources.Reject
        </a>
    }
    @if (!canEdit)
    {
        <a href="@Url.Action("View", new { id = modelID })">
            <img src="@Url.Content("~/Images/view-normal.png")"
                 onmouseover="this.src='@Url.Content("~/images/view-hover.png")'"
                 onmouseout="this.src='@Url.Content("~/images/view-normal.png")'"
                 alt="@FrameworkResources.View" title="@FrameworkResources.View" />
        </a>
    }
    @if (canEdit)
    {
        <a href="@Url.Action("Detail", new { id = modelID })">
            <img src="@Url.Content("~/Images/edit-normal.png")" onmouseover="this.src='@Url.Content("~/images/edit-hover.png")'"
                 onmouseout="this.src='@Url.Content("~/images/edit-normal.png")'" alt="@FrameworkResources.Edit" title="@FrameworkResources.Edit" />
        </a>
    }
    @if (canDelete)
    {
        <a>
            <img src="@Url.Content("~/Images/delete-normal.png")" onmouseover="this.src='@Url.Content("~/images/delete-hover.png")'" onclick="deleteItem(@modelID, '@GeneralResources.ProjectTaskMember')"
                 onmouseout="this.src='@Url.Content("~/images/delete-normal.png")'" alt="@FrameworkResources.Delete" title="@FrameworkResources.Delete" />
        </a>
    }
</td>