﻿@using DomainModelFramework

<div class="div-search-button text-center">
    <button type="button" class="btn btn-primary loader" id="button-preview">
        <span class="glyphicon glyphicon-search"></span> @FrameworkResources.Preview
    </button>
    <button type="button" class="btn btn-primary loader" id="button-print">
        <span class="glyphicon glyphicon-print"></span> @FrameworkResources.Print
    </button>
    <button type="button" class="btn btn-default loader" id="button-reset-report">
        <span class="glyphicon glyphicon-refresh"></span> @FrameworkResources.Reset
    </button>
</div>
