﻿@using ReportingWeb.BaseModels;
@using BusinessServiceFramework.Models;
@using DomainModelFramework
@using System.Collections.Generic;
@using System.Linq;
@using System.Web.Mvc;
@using System.Reflection;

@using ReportingBusinessService.Models

@model SettingModel

@{
    GeneralSettings generalSettings = (GeneralSettings)ViewBag.GeneralSettings;
    Info info = (Info)ViewBag.Info;
    string controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    string className = "";
    ModelState modelState = new ModelState();
    ViewBag.Title = Model.Title;
}

@Scripts.Render("~/bundles/file-uploader-base")
@Scripts.Render("~/bundles/adminsettings")
@Styles.Render("~/Content/adminsettings")

<script type="text/javascript">
    url =@Url.Action("Index", controllerName);

    errorResources.FileSizeTooBig = '@String.Format(FrameworkResources.FileSizeTooBig, generalSettings.MaxFileSize)';
    errorResources.FillInAll = '@FrameworkResources.FillInAll';
</script>

@if (Model.Styles != null && Model.Styles.Count > 0)
{
    foreach (string style in Model.Styles)
    {
        @Styles.Render(style)
    }
}

@if (Model.Scripts != null && Model.Scripts.Count > 0)
{
    foreach (string style in Model.Scripts)
    {
        @Scripts.Render(style)
    }
}

@Html.Partial("_AlertPartial")

<div class="form-group">
    <h3 class="loader">@Model.Title</h3>
    <hr />
</div>

<div class="div-content">
    @using (Html.BeginForm(Model.CurrentTab, controllerName, FormMethod.Post, new { @class = "main-form form-horizontal setting-form form-responsive", autocomplete = "off" }))
    {
        string labelClass = "col-lg-3 col-md-3 col-sm-4 hidden-xs";
        string inputClass = "col-lg-9 col-md-9 col-sm-8 col-xs-12";
        string offsetClass = inputClass + " col-lg-offset-3 col-md-offset-3 col-sm-offset-4";
        string fullWidthClass = "col-lg-12 col-md-12 col-sm-12 col-xs-12";

        Type type = Model.EntityType;

        PropertyInfo[] properties = type.GetProperties();

        foreach (PropertyInfo propertyInfo in properties)
        {
            string name = propertyInfo.Name;
            object obj = propertyInfo.GetValue(Model.Data);
            string inputID = name.Replace(".", "_");
            bool isRequired = true;

            if (Model.NonRequiredProperties.Contains(name))
            {
                isRequired = false;
            }


            className = "";
            modelState = ViewData.ModelState[name];

            if (modelState != null && modelState.Errors.Count > 0)
            {
                className = "input-validation-error";
            }

            if (!Model.HiddenProperties.Contains(name))
            {
                <div class="form-group input-container">

                    @if (obj != null && obj.GetType().IsGenericType)
                    {
                        SettingCustomPropertyModel customProperty = Model.CustomProperties.Where(x => x.Name == name).FirstOrDefault();
                        if (customProperty != null)
                        {
                            @Html.Partial(customProperty.RenderPartialName, obj, new ViewDataDictionary() { { "IsRequired", isRequired }, { "InputID", inputID }, { "className", className }, { "name", name } });
                        }
                    }
                    else
                    {
                        if (Model.ImageProperties.Contains(name))
                        {
                            bool isHidden = true;
                            string imagePath = "default.png";
                            if (obj != null)
                            {
                                if (!string.IsNullOrEmpty(obj.ToString()))
                                {
                                    isHidden = false;
                                    if (obj.ToString().Contains("Temp/"))
                                    {
                                        imagePath = "Temp/" + obj.ToString().Replace("Temp/", "");
                                    }
                                    else
                                    {
                                        imagePath = "Thumbs/" + obj.ToString();
                                    }
                                }

                            }

                            <div class="@labelClass">
                                <label class="control-label pull-left @Html.Raw(isRequired?" required":"")" for="@inputID">@GeneralResources.ResourceManager.GetString(name)</label>
                                <label class="control-label pull-right quote">:</label>
                            </div>
                            <div class="@inputClass">
                                <input type="hidden" name="@name" id="@inputID" value="@Html.Raw(obj==null?"":obj.ToString())" />

                                <img class="img-responsive image-uploaded pull-left" src="@Url.Content("~/Images/" + imagePath + "?" + DateTime.Now.ToString("ddyyhhmmss"))" alt="@imagePath" title="@GeneralResources.ResourceManager.GetString(name)">

                                <a class="remove-link  @Html.Raw(isHidden?"hidden":"")"><span class="glyphicon glyphicon-remove-circle remove-image-icon"></span></a>

                                <div class="row uploader-container">
                                    <div class="@fullWidthClass">
                                        <button class="btn-upload btn" type="button">@GeneralResources.Upload</button>

                                        <div class="size-info">@String.Format(GeneralResources.MaximumFileSizeFormat, generalSettings.MaxFileSize)</div>
                                        <input class="uploader hidden" type="file" name="files" />
                                    </div>
                                </div>



                            </div>
                        }
                        else if (Model.DropdownProperties.ContainsKey(name))
                        {
                            KeyValuePair<string, List<SelectListItem>> options = Model.DropdownProperties.FirstOrDefault(x => x.Key == name);

                            <div class="@labelClass">
                                <label class="control-label pull-left @Html.Raw(isRequired?" required":"")" for="@inputID">@GeneralResources.ResourceManager.GetString(name)</label>
                                <label class="control-label pull-right quote">:</label>
                            </div>
                            <div class="@inputClass">

                                <select id="@inputID" name="@name" class="form-control">
                                    @foreach (SelectListItem option in options.Value)
                                    {
                                        <option value="@option.Value" @Html.Raw(option.Value == obj.ToString() ? "selected" : "")>@option.Text</option>
                                    }
                                </select>
                            </div>
                        }
                        else
                        {
                            string placeholder = String.Format(FrameworkResources.TypeFormat, GeneralResources.ResourceManager.GetString(name));
                            if (obj is System.String || obj == null)
                            {
                                <div class="@labelClass">
                                    <label class="control-label pull-left @Html.Raw(isRequired?" required":"")" for="@inputID">@GeneralResources.ResourceManager.GetString(name)</label>
                                    <label class="control-label pull-right quote">:</label>
                                </div>
                                <div class="@inputClass">

                                    @if (Model.TextAreaProperties.Contains(name))
                                    {
                                        <textarea rows="4" class="form-control @className" id="@inputID" name="@name" placeholder="@placeholder">@obj</textarea>
                                    }
                                    else
                                    {
                                        <input type="text" class="form-control @className" id="@inputID" name="@name" placeholder="@placeholder" value="@obj" @Html.Raw(Model.PhoneProperties.Contains(name) ? "mode=\"phone\"" : "") @Html.Raw(Model.IntegerProperties.Contains(name) ? "mode=\"integer\"" : "") @Html.Raw(Model.PhoneProperties.Contains(name) ? "mode=\"phone\"" : "") @Html.Raw(Model.IntegerProperties.Contains(name) ? "numval=\"" + obj.ToString().AsInt().ToString(ViewBag.DeveloperSettings.NumberFormat) + "\"" : "")>
                                    }

                                </div>
                            }
                            else if (obj is System.Int32)
                            {
                                <div class="@labelClass">
                                    <label class="control-label pull-left @Html.Raw(isRequired?" required":"")" for="@inputID">@GeneralResources.ResourceManager.GetString(name)</label>
                                    <label class="control-label pull-right quote">:</label>
                                </div>
                                <div class="@inputClass">
                                    <input type="text" placeholder="@placeholder" class="form-control @className" id="@inputID" name="@name" mode="integer" value="@obj" numval="@obj.ToString().AsInt().ToString(ViewBag.DeveloperSettings.NumberFormat)">
                                </div>
                            }
                            else if (obj is System.Decimal)
                            {
                                <div class="@labelClass">
                                    <label class="control-label pull-left @Html.Raw(isRequired?" required":"")" for="@inputID">@GeneralResources.ResourceManager.GetString(name)</label>
                                    <label class="control-label pull-right quote">:</label>
                                </div>
                                <div class="@inputClass">

                                    <input type="text" placeholder="@placeholder" class="form-control @className" id="@inputID" name="@name" value="@obj" @Html.Raw(Model.NegativeDecimalProperties.Contains(name) ? "mode=\"negative-decimal\"" : "mode=\"decimal\"") numval="@obj.ToString().AsDecimal().ToString(ViewBag.DeveloperSettings.NumberFormat)">
                                </div>
                            }
                            else if (obj is System.Boolean)
                            {
                                <div class="@fullWidthClass">
                                    <div class="checkbox">
                                        <label class="@Html.Raw(isRequired ? "required" : "")"><input type="checkbox" @Html.Raw((bool)obj ? "checked" : "") id="@inputID" name="@name" value="@Html.Raw((bool)obj?"true":"false")" />@GeneralResources.ResourceManager.GetString(name)</label>
                                    </div>
                                </div>
                            }
                        }

                        <div class="@offsetClass">
                            @Html.ValidationMessage(name, new { @class = "validation" })
                        </div>

                        <div class="@fullWidthClass input-desc">
                            @GeneralResources.ResourceManager.GetString(name + "Desc")
                        </div>
                    }
                </div>
            }



        }

        <div class="form-group">
            <div class="@offsetClass">
                <button type="submit" class="btn btn-primary">@FrameworkResources.Save</button>
                <button type="button" class="btn btn-default btn-cancel">@FrameworkResources.Cancel</button>
            </div>

        </div>
    }
</div>

