﻿@using DomainModelFramework;

<div id="modal-task" class="modal-container">

    <div id="div-alert-danger" class="alert alert-danger form-group" style="display:none;">
        <span class="glyphicon glyphicon-info-sign"></span> &nbsp;
    </div>

    <div class="form-horizontal">

        <div class="form-group">
            <label for="product-name" class="col-md-2 required">@FrameworkResources.Name</label>
            <label for="product-name" class="col-md-1">:</label>
            <div class="col-md-9">
                @Html.TextBox("task-name", "", new { @class = "form-control", placeholder = String.Format(FrameworkResources.TypeFormat, FrameworkResources.Name) })
            </div>
        </div>

        <div class="form-group">
            <label for="product-category" class="col-md-2 required">@GeneralResources.Project</label>
            <label for="product-category" class="col-md-1">:</label>
            <div class="col-md-9">
                @Html.TextBox("project-name", "", new { @class = "form-control", placeholder = String.Format(FrameworkResources.TypeFormat, GeneralResources.Project) })
            </div>
        </div>

        <div class="form-group">
            <label for="product-sku" class="col-md-2 required">@GeneralResources.ParentName</label>
            <label for="product-sku" class="col-md-1">:</label>
            <div class="col-md-9">
                @Html.TextBox("parent-name", "", new { @class = "form-control", placeholder = String.Format(FrameworkResources.TypeFormat, GeneralResources.ParentName) })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <button type="button" class="btn btn-primary loader" id="button-search-product">
                    <span class="glyphicon glyphicon-search"></span> @FrameworkResources.Search
                </button>
                <button type="button" class="btn btn-default loader" id="button-reset-product">
                    <span class="glyphicon glyphicon-refresh"></span> @FrameworkResources.Reset
                </button>

                @Html.Hidden("task-name-search")
                @Html.Hidden("project-name-search")
                @Html.Hidden("parent-name-search")
            </div>
        </div>

        <div id="div-alert-info" class="alert alert-info form-group form-label" style="display:none;">
            <span class="glyphicon glyphicon-info-sign"></span> &nbsp;
        </div>

        <div class="form-group form-label">
            @(FrameworkResources.Total): <span name="total-selected-tasks">0</span>
        </div>

        <div class="form-group form-label">
            <div class="table-responsive">
                <table name="product-data" class="table table-striped table-list">
                    <thead>
                        <tr>
                            <th><input name="select_all_product" type="checkbox" /></th>
                            <th title="@GeneralResources.Project">@GeneralResources.Project</th>
                            <th title="@GeneralResources.Name">@GeneralResources.Name</th>
                            <th title="@GeneralResources.ParentName">@GeneralResources.ParentName</th>
                            <th title="@GeneralResources.EstHour">@GeneralResources.EstHour</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="div-nodata">
                            <td colspan="5" class="text-center">@GeneralResources.EmptyData</td>
                        </tr>
                    </tbody>

                </table>
            </div>
            <div class="text-center">
                <ul class="pagination" customtype="tasks"></ul>
            </div>
        </div>
    </div>
</div>