﻿@using DomainModelFramework

<script type="text/javascript">
    var url_get_users = '@Url.Action("GetReportMembers", "BaseReport")';
</script>

<select id="user-dropdown" data-placeholder="@string.Format(FrameworkResources.TypeFormat,GeneralResources.User)" multiple class="chosen-select"></select>
