﻿@using ReportingDomainModel
@using DomainModelFramework

@model User

@{
    bool canEdit = (bool)ViewBag.CanEdit;
    bool canDelete = (bool)ViewBag.CanDelete;

    long modelID = Model.UserID;
}

<td class="list-icon">
    <a href="@Url.Action("View", new { id = modelID })">
        <img src="@Url.Content("~/Images/view-normal.png")"
             onmouseover="this.src='@Url.Content("~/images/view-hover.png")'"
             onmouseout="this.src='@Url.Content("~/images/view-normal.png")'"
             alt="@FrameworkResources.View" title="@FrameworkResources.View" />
    </a>
    @if (canEdit)
    {
        <a href="@Url.Action("Detail", new { id = modelID })">
            <img src="@Url.Content("~/Images/edit-normal.png")" onmouseover="this.src='@Url.Content("~/images/edit-hover.png")'"
                 onmouseout="this.src='@Url.Content("~/images/edit-normal.png")'" alt="@FrameworkResources.Edit" title="@FrameworkResources.Edit" />
        </a>
    }
    @if (canDelete)
    {
        <a>
            <img src="@Url.Content("~/Images/delete-normal.png")" onmouseover="this.src='@Url.Content("~/images/delete-hover.png")'" onclick="deleteItem(@modelID, '@Model.Name.ToString()')"
                 onmouseout="this.src='@Url.Content("~/images/delete-normal.png")'" alt="@FrameworkResources.Delete" title="@FrameworkResources.Delete" />
        </a>
    }
</td>