﻿@{
    ViewBag.Title = GeneralResources.EmailVerified;
}

<div class="container body-content">
    <h2>@ViewBag.Title</h2>
    <hr />
    <div>
        @GeneralResources.EmailVerifiedMsg <br />
        <form action="@Url.Action("Login", "Account")" method="get">
            <button class="btn btn-primary" type="submit">Login</button>
        </form>
    </div>
</div>