﻿@using DomainModelFramework

@{
    ViewBag.Title = FrameworkResources.ForgotPasswordConfirmation;
    string rootPath = ViewBag.RootPath;
}

<div class="container body-content">

    <h2>@ViewBag.Title</h2>
    <hr />
    <div>
        @FrameworkResources.ForgotPasswordConfirmationDesc
    </div>
</div>

