﻿@using ReportingWeb.Models
@using DomainModelFramework

@model ForgotPasswordViewModel

@{
    ViewBag.Title = FrameworkResources.ForgotPasswordQuestion;
}

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/forgotpassword")
@Styles.Render("~/Content/forgotpassword/css")

<div class="container body-content">

    <div id="forgot-password-form">
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h2>@ViewBag.Title</h2>
            <div>@GeneralResources.ResetPasswordDesc</div>
            <hr />

            @Html.Partial("_AlertPartial")

            <div class="form-group">
                <label class="col-form-label col-lg-2 col-md-2 col-sm-2 col-xs-12 required"><span class="pull-left">@FrameworkResources.Email</span><span class="pull-right d-none d-sm-block">:</span></label>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = String.Format(FrameworkResources.TypeFormat, FrameworkResources.Email) })
                </div>
                <div class="col-lg-10 col-md-10 col-lg-offset-2 col-md-offset-2 col-sm-10 col-xs-12 col-sm-offset-2">
                    @Html.ValidationMessageFor(m => m.Email, "")
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-md-10 col-lg-offset-2 col-md-offset-2 col-sm-10 col-xs-12 col-sm-offset-2">
                    <button type="submit" class="btn btn-primary">@GeneralResources.EmailLink</button>
                </div>
            </div>
        }

    </div>
</div>
