﻿@using ReportingWeb.Models
@using DomainModelFramework

@model LoginViewModel
@{
    ViewBag.Title = FrameworkResources.Login;
}

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/login")
@Styles.Render("~/Content/login/css")

<div class="bg-login">
    <div class="container body-content">
        <h2 id="loginlabel">Login</h2>

        <div id="loginForm">

            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form", customType = "user", autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()

                @Html.Partial("_AlertPartial")

                <div class="form-group">
                    <label class="control-label required">@FrameworkResources.Email</label>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = String.Format(FrameworkResources.TypeFormat, FrameworkResources.Email) })
                    @Html.ValidationMessageFor(m => m.Email, "")
                </div>

                <div class="form-group">
                    <label class="control-label required">@FrameworkResources.Password</label>
                    @Html.Password("Password", Model.Password, new { @class = "form-control", placeholder = String.Format(FrameworkResources.TypeFormat, FrameworkResources.Password) })
                    @Html.ValidationMessageFor(m => m.Password, "")
                </div>

                <div class="form-group">
                    <div class="checkbox">
                        <label class=" required">@Html.CheckBoxFor(m => m.RememberMe)@FrameworkResources.RememberMe</label>
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary" id="btn-login">@FrameworkResources.Login</button>
                </div>
            }

        </div>
        <div class="text-center form-group loginfooter">
            <span><a class="link-color" href="@Url.Action("ForgotPassword")">@FrameworkResources.ForgotPasswordQuestion</a> <span class="text-color-password"></span></span>
        </div>
    </div>

</div>
