﻿@using DomainModelFramework;

@model ReportingWeb.Models.RegisterViewModel
@{
    ViewBag.Title = FrameworkResources.Register;
}
@Styles.Render("~/Content/register/css")

<div class="container body-content">
    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        <h5 class="text-danger">@ViewBag.Error</h5>

        string labelClass = "col-lg-3 col-md-3 col-sm-3 d-none d-sm-block";
        string inputClass = "col-lg-3 col-md-3 col-sm-3 col-xs-12";
        string offsetClass = "col-lg-6 col-md-6 col-sm-6 col-xs-12" + " col-lg-offset-3 col-md-offset-3 col-sm-offset-3";

        <div class="form-group">
            <label class="col-form-label required @labelClass">
                <span class="pull-left">@FrameworkResources.Email</span>
                <span class="pull-right">:</span>
            </label>
            <div class="@inputClass">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = String.Format(FrameworkResources.TypeFormat, FrameworkResources.Email) })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
        </div>

        <div class="form-group">
            <label class="col-form-label required @labelClass">
                <span class="pull-left">@FrameworkResources.Password</span>
                <span class="pull-right">:</span>
            </label>
            <div class="@inputClass">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = String.Format(FrameworkResources.TypeFormat, FrameworkResources.Password) })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>

        <div class="form-group">
            <label class="col-form-label required @labelClass">
                <span class="pull-left">@FrameworkResources.ConfirmPassword</span>
                <span class="pull-right">:</span>
            </label>
            <div class="@inputClass">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = String.Format(FrameworkResources.TypeFormat, FrameworkResources.ConfirmPassword) })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
        </div>

        <div class="form-group">
            <label class="col-form-label required @labelClass">
                <span class="pull-left">@FrameworkResources.Name</span>
                <span class="pull-right">:</span>
            </label>
            <div class="@inputClass xs_firstname_bottom_margin">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = String.Format(FrameworkResources.TypeFormat, GeneralResources.FirstName) })
                @Html.ValidationMessageFor(m => m.FirstName)
            </div>
            <div class="@inputClass">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = String.Format(FrameworkResources.TypeFormat, GeneralResources.LastName) })
            </div>
        </div>

        <div class="form-group">
            <label class="col-form-label required @labelClass">
                <span class="pull-left">@FrameworkResources.Phone</span>
                <span class="pull-right">:</span>
            </label>
            <div class="@inputClass">
                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", mode = "phone", placeholder = String.Format(FrameworkResources.TypeFormat, FrameworkResources.Phone) })
                @Html.ValidationMessageFor(m => m.Phone)
            </div>
        </div>

        <div class="form-group">
            <div class="@offsetClass">
                @Html.CheckBoxFor(m => m.AgreeTC)
                @{
                    string tc = "<a>" + GeneralResources.TermsAndConditions + "</a>";
                }
                @Html.Raw(String.Format(GeneralResources.IAgree, tc)) <br />
                <span class="text-danger">@ViewBag.AgreeTC</span>
            </div>
        </div>

        <div class="form-group">
            <div class="@offsetClass">
                <input type="submit" class="btn btn-primary" value="@FrameworkResources.Register" />
                <input type="button" class="btn btn-secondary" value="@FrameworkResources.Cancel" id="btnCancel" />
            </div>
        </div>

    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/register")
}
