﻿@using ReportingWeb.Models
@using DomainModelFramework

@{
    ViewBag.Title = FrameworkResources.ResetPasswordConfirmation;
}

@Styles.Render("~/Content/forgotpassword/css")

<div class="container body-content">
    <div class="form-group title-container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label class="col-form-label title">@ViewBag.Title</label>
                <hr />
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                @Html.Raw(String.Format(FrameworkResources.ResetPasswordConfirmationDesc, Url.Action("Login", "Account")))
            </div>
        </div>
    </div>
</div>
