﻿@using ReportingWeb.Models
@using DomainModelFramework

@model ResetPasswordViewModel
@{
    ViewBag.Title = FrameworkResources.ResetPassword;
}

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/resetpassword")
@Styles.Render("~/Content/resetpassword/css")

<div class="container body-content">
    <div id="reset-password-form">
        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group title-container">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label class="col-form-label title required">@ViewBag.Title</label>
                    <hr />
                </div>
            </div>

            @Html.Partial("_AlertPartial")
            @Html.HiddenFor(model => model.Code)
            @Html.HiddenFor(model => model.Email)


            <div class="form-group">
                <label class="col-form-label col-lg-2 col-md-3 col-sm-4 col-xs-12 required"><span class="pull-left">@FrameworkResources.Password</span><span class="pull-right d-none d-sm-block">:</span></label>
                <div class="col-lg-10 col-md-9 col-sm-8 col-xs-12">
                    @Html.Password("Password", Model.Password, new { @class = "form-control", placeholder = String.Format(FrameworkResources.TypeFormat, FrameworkResources.Password) })
                </div>
                <div class="col-lg-10 col-md-9 col-lg-offset-2 col-md-offset-3 col-sm-8 col-xs-12 col-sm-offset-4">
                    @Html.ValidationMessageFor(m => m.Password, "")
                </div>
            </div>

            <div class="form-group">
                <label class="col-form-label col-lg-2 col-md-3 col-sm-4 col-xs-12 required"><span class="pull-left">@FrameworkResources.ConfirmPassword</span><span class="pull-right d-none d-sm-block">:</span></label>
                <div class="col-lg-10 col-md-9 col-sm-8 col-xs-12">
                    @Html.Password("ConfirmPassword", Model.ConfirmPassword, new { @class = "form-control", placeholder = String.Format(FrameworkResources.TypeFormat, FrameworkResources.ConfirmPassword) })
                </div>
                <div class="col-lg-10 col-md-9 col-lg-offset-2 col-md-offset-3 col-sm-8 col-xs-12 col-sm-offset-4">
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "")
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-10 col-md-9 col-lg-offset-2 col-md-offset-3 col-sm-8 col-xs-12 col-sm-offset-4">
                    <button type="submit" class="btn btn-primary">@FrameworkResources.ResetPassword</button>
                </div>
            </div>
        }
    </div>

</div>


