﻿@using System.Globalization
@using System.Web.Script.Serialization
@using Microsoft.AspNet.Identity
@using BusinessServiceFramework.Models
@using DomainModelFramework
@using ReportingBusinessService.Models

<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/admincss")
    @{
        Info info = (Info)ViewBag.Info;
        DeveloperSettings dev = (DeveloperSettings)ViewBag.DeveloperSettings;
        Layout = "~/Views/Shared/" + info.Theme + "/_Layout.cshtml";
    }

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @info.Name</title>

    @{
        string baseURL = Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath;
        baseURL += (baseURL.Last() != '/') ? "/" : "";
    }

    <script type="text/javascript">

    </script>

</head>
<body>
    @Html.Partial("~/Views/Shared/" + info.Theme + "/_AdminHeaderPartial.cshtml")

    <div class="container">
        <div class="breadcrumb-container">
            @Html.Partial("_BreadcrumbPartial", (IEnumerable<BreadcrumbItem>)ViewBag.Breadcrumbs)
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
</body>

</html>
