﻿@using DomainModelFramework

@Styles.Render("~/Content/menuslidercss")
@Scripts.Render("~/bundles/menuslider")

@{
    Dictionary<string, string> items = ViewBag.AdminMenuItems as Dictionary<string, string>;
    int selectedIdx = 0;
}

<div class="navbar nav-admin">
    <div>
        <ul class="bxslider">
            @for (int i = 0; i < items.Count(); i++)
            {
                KeyValuePair<string, string> item = items.ElementAt(i);
                @Html.Raw("<li class=\"")

                if (HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() == item.Key)
                {
                    @Html.Raw("selected text-uppercase")
                    selectedIdx = i;
                }

                if (i == items.Count() - 1)
                {
                    @Html.Raw("end")
                }

                string value = GeneralResources.ResourceManager.GetString(item.Value);

                if (value == null)
                {
                    value = FrameworkResources.ResourceManager.GetString(item.Value);
                }

                @Html.Raw("\"><a href='" + Url.Action("Index", item.Key) + "'>" + value + "</a></li>")
            }

        </ul>
    </div>
</div>

<script>
    var slider;
    $(document).ready(function () {
        slider = $('.bxslider').bxSlider({
            infiniteLoop: false,
            minSlides: 2,
            maxSlides: 6,
            slideWidth: 200,
            slideMargin: 0,
            hideControlOnEnd: true
        });
    });

</script>
