﻿@using ReportingBusinessService.Models
@using ReportingDomainModel
@using System.Collections.Generic
@using System.Linq
@using System.Globalization
@using System.Web.Script.Serialization
@using BusinessServiceFramework.Models

<!DOCTYPE html>
<html>
<head>
    <link rel="icon" sizes="192x192" href="~/Images/ic_192x192.png" />
    <link rel="apple-touch-icon" sizes="48x48" href="~/Images/ic_48x48.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="~/Images/ic_57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="~/Images/ic_72x72.png" />
    <link rel="apple-touch-icon" sizes="96x96" href="~/Images/ic_96x96.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="~/Images/ic_114x114.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="~/Images/ic_144x144.png" />
    <link rel="apple-touch-icon" sizes="196x196" href="~/Images/ic_196x196.png" />
    <link rel="apple-touch-icon" sizes="512x512" href="~/Images/ic_512x512.png" />
    <link rel="apple-touch-icon" sizes="16x16" href="~/Images/ic_16x16.png" />
    <link rel="apple-touch-icon" sizes="32x32" href="~/Images/ic_32x32.png" />
    <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">

    @{
        string defaultPath = (string)ViewBag.DefaultPath;
        string webName = (string)ViewBag.Info.Name;
        Language currentLanguage = ((IEnumerable<Language>)ViewBag.ActiveLanguages).FirstOrDefault(o => o.Culture == ViewBag.CurrentLanguage);
        string baseURL = Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath;
        baseURL += (baseURL.Last() != '/') ? "/" : "";
        string absURI = Request.Url.AbsoluteUri;

        Info store = (Info)ViewBag.Info;

        var culture = "/" + ViewBag.CurrentLanguage;
        if (absURI.Contains(culture))
        {
            if (absURI.Substring(absURI.IndexOf(culture)).Length > 3)
            {
                absURI = absURI.Remove(absURI.IndexOf(culture), 3);
            }
            else
            {
                absURI = absURI.Remove(absURI.IndexOf(culture));
            }
        }

        Dictionary<string, string> mainItems = new Dictionary<string, string>();
        if (ViewBag.MainNavItems != null)
        {
            NavigationSection section = ((Navigation)ViewBag.MainNavItems).Sections.FirstOrDefault();
            if (section != null)
            {
                foreach (NavigationItem item in section.Items)
                {
                    mainItems.Add(item.GetText("id"), item.Link);
                }
            }
        }
    }

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@webName - @ViewBag.Title</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/chosen")
    @Styles.Render("~/Content/chosen/css")
    @Scripts.Render("~/bundles/common")
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/layout")

    <script type="text/javascript">
        var numberFormatInfo = {
            currencyNegativePattern: '@NumberFormatInfo.CurrentInfo.CurrencyNegativePattern',
            currencyPositivePattern: '@NumberFormatInfo.CurrentInfo.CurrencyPositivePattern',
            currencySymbol: '@store.CurrencySymbol',
            currencyGroupSizes: @Html.Raw(new JavaScriptSerializer().Serialize(NumberFormatInfo.CurrentInfo.CurrencyGroupSizes)),
            currencyGroupSeparator: '@NumberFormatInfo.CurrentInfo.CurrencyGroupSeparator',
            currencyDecimalDigits: @NumberFormatInfo.CurrentInfo.CurrencyDecimalDigits,
            currencyDecimalSeparator: '@NumberFormatInfo.CurrentInfo.CurrencyDecimalSeparator',
        };

        var periodList = [];
        periodList.push(numberFormatInfo.currencyDecimalSeparator === ',' ? 188 : 190);

        var serializationDateFormat = '@ViewBag.DeveloperSettings.SerializationDateFormat';
        var baseURL = "@baseURL";
        var pageURL = "@(absURI.Length < baseURL.Length ? "Home/Index" : @absURI.Substring(baseURL.Length))";

        if (pageURL == "") {
            pageURL = "Home/Index";
        }
    </script>

    @{
        string activePageClass = "";

        if (@ViewBag.ActivePage != null)
        {
            activePageClass = "loginpage";
        }
    }

</head>
<body>
    <div id="main-navbar" class="navbar navbar-default @activePageClass">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"><img src="@Url.Content("~/Images/Blue/logo.png")" alt="logo" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right @activePageClass">
                    <!-- #region Language -->
                    <li class="dropdown">
                        <a id="dropdown-language" class="dropdown-toggle" data-toggle="dropdown" href="#" title="@currentLanguage.Name">
                            <span class="language-name">@currentLanguage.Name.Substring(0, 3)</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu languageMenu">
                            @foreach (Language lang in ViewBag.ActiveLanguages)
                            {
                                <li culture="@lang.Culture" class="@Html.Raw(lang.Culture==currentLanguage.Culture?" active":"")" title="@lang.Name">
                                    <a class="lang-header">
                                        <span></span>&nbsp;@lang.Name
                                    </a>

                                </li>
                            }
                        </ul>
                    </li>
                    <!-- #endregion -->
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    @Html.Partial("_ModalItemPartial")
    @RenderBody()

    <div class="footer-top hidden">
        <div class="container footer">
            <div class="row">
                @if (ViewBag.FooterNavItems != null)
                {
                    List<NavigationSection> sections = ((Navigation)ViewBag.FooterNavItems).Sections;
                    for (int i = 0; i < sections.Count(); i++)
                    {
                        NavigationSection section = sections[i];
                        if (section != null)
                        {
                            string className = "col-xs-12 col-sm-12 col-md-7 col-lg-7";

                            if (i == 1)
                            {
                                className = "col-xs-12 col-sm-12 col-md-5 col-lg-5";
                            }

                            <div class="@className footer-item">
                                @if (!string.IsNullOrEmpty(section.CustomLayout))
                                {
                                    @Html.Partial(store.Theme + "/" + section.CustomLayout, section)

                                    if (i == 0)
                                    {
                                        <div id="footer-social-media">
                                            @Html.Partial(store.Theme + "/" + "_FooterSocialMediaPartial")
                                        </div>
                                    }
                                }
                                else
                                {
                                    string sectionText = section.GetText(ViewBag.CurrentLanguage, ViewBag.DefaultLanguage);
                                    bool imagesOnly = section.Items.Where(o => o.DisplayMode == DomainModelFramework.DisplayMode.Text || o.DisplayMode == DomainModelFramework.DisplayMode.TextAndImage).Count() == 0;

                                    if (!string.IsNullOrEmpty(sectionText))
                                    {
                                        <div class="form-group section-title">
                                            <span>@sectionText</span>
                                        </div>
                                    }

                                    <ul class="@(imagesOnly ? " list-inline":"footer-list" )">
                                        @foreach (NavigationItem item in section.Items)
                                        {
                                            <li class="form-group">
                                                @if (!string.IsNullOrEmpty(item.Link))
                                                {
                                                    string footerUrlAction = "";
                                                    if (item.Link.StartsWith("http://") || item.Link.StartsWith("https://"))
                                                    {
                                                        footerUrlAction = item.Link;
                                                    }
                                                    else
                                                    {
                                                        int separator = item.Link.IndexOf("/");
                                                        string controller = separator != -1 ? item.Link.Substring(0, separator) : item.Link;
                                                        string permalink = (separator != -1 && item.Link.Length > separator) ? item.Link.Substring(separator + 1) : "";

                                                        if (string.IsNullOrEmpty(permalink))
                                                        {
                                                            footerUrlAction = Url.Action("Index", controller);
                                                        }
                                                        else
                                                        {
                                                            footerUrlAction = Url.Action("Index", controller, new { permalink = permalink });
                                                        }
                                                    }
                                                    @Html.Raw("<a href=\"" + footerUrlAction + "\">")
                                                }
                                                @if (item.DisplayMode == DomainModelFramework.DisplayMode.Image || item.DisplayMode == DomainModelFramework.DisplayMode.TextAndImage)
                                                {
                                                    string imageName = item.GetImage(ViewBag.CurrentLanguage, ViewBag.DefaultLanguage);

                                                    <img src="@Url.Content("~/images/" + imageName + "?" + DateTime.Now.ToString("ddyyhhmmss"))" />
                                                }
                                                @if (item.DisplayMode == DomainModelFramework.DisplayMode.Text || item.DisplayMode == DomainModelFramework.DisplayMode.TextAndImage)
                                                {
                                                    @Html.Raw(item.GetText(ViewBag.CurrentLanguage, ViewBag.DefaultLanguage))
                                                }
                                                @if (!string.IsNullOrEmpty(item.Link))
                                                {
                                                    @Html.Raw("</a>")
                                                }
                                            </li>
                                        }
                                    </ul>
                                }

                                @if (i == 0)
                                {
                                    <div>
                                        <a href="http://play.google.com/store/apps/details?id=" + developersettings.AndroidNamespace><img class="google-play" src="@Url.Content("~/Images/googleplaymedium.png")" alt="google-play" /></a>
                                    </div>
                                }

                            </div>
                        }
                    }
                }
            </div>
        </div>
    </div>

    <footer class="footer-border-top hidden">
        <div class="container">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 footer-pull-left">
                COPYRIGHT &copy; 2018 - @webName All rights reserved.
            </div>
        </div>
    </footer>

</body>
@RenderSection("scripts", required: false)
</html>
