﻿@using ReportingBusinessService.Models
@using ReportingDomainModel
@using DomainModelFramework
@using ReportingWeb.Models

@model ProjectTask

@Scripts.Render("~/bundles/projecttask")

@{
    Info info = (Info)ViewBag.Info;
    Layout = "~/Views/Shared/" + info.Theme + "/_AdminLayout.cshtml";
    string currentURL = Url.Action("Index", "AdminProjectTasks");
    GeneralSettings generalSettings = (GeneralSettings)ViewBag.GeneralSettings;

    bool canEdit = (bool)ViewBag.CanEdit;

    object viewCustomClass = new { };

    if (!canEdit)
    {
        viewCustomClass = new { @disabled = "disabled" };
    }
}

<script type="text/javascript">
    var url_parent_tasks = '@Url.Action("GetParentTasks")';
    var url_projects = '@Url.Action("GetProjects")';

    generalResources.NoDataAvailable = '@FrameworkResources.NoDataAvailable';
</script>

@using (Html.BeginForm("Detail", "AdminProjectTasks", FormMethod.Post, new { @class = "form-horizontal form-responsive", role = "form", autocomplete = "off" }))
{
    string firstColumnClass = "col-lg-8 col-md-8 col-sm-8 col-xs-12";
    string secondColumnClass = "col-lg-4 col-md-4 col-sm-4 col-xs-12";

    string labelClass = "col-lg-3 col-md-3 col-sm-3 hidden-xs";
    string inputClass = "col-lg-9 col-md-9 col-sm-9 col-xs-12";
    string offsetClass = inputClass + " col-lg-offset-3 col-md-offset-3 col-sm-offset-3";
    string fullWidthClass = "col-lg-12 col-md-12 col-sm-12 col-xs-12";

    @Html.HiddenFor(x => x.ProjectTaskID)
    @Html.HiddenFor(x => x.CreatedDate)
    @Html.HiddenFor(x => x.CreatedBy)
    @Html.HiddenFor(x => x.ModifiedDate)
    @Html.HiddenFor(x => x.ModifiedBy)

    <div class="form-group">
        <div class="@fullWidthClass">
            <h3>@ViewBag.Title</h3>
            <hr />
        </div>
    </div>

    <div id="div-alert-error" class="alert alert-danger form-group @Html.Raw(string.IsNullOrEmpty(ViewBag.ErrorDetail) ? "hidden" : "")">
        <span class="glyphicon glyphicon-exclamation-sign"></span> @Html.Raw(ViewBag.ErrorDetail)
    </div>

    <div class="row">
        <div class="@firstColumnClass">

            @*Name*@
            <div class="form-group">
                <label class="control-label required @labelClass"><span class="pull-left">@GeneralResources.Name</span><span class="pull-right">:</span></label>
                <div class="@inputClass">
                    @if (canEdit)
                    {
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control input", placeholder = String.Format(FrameworkResources.TypeFormat, GeneralResources.Name) })
                    }
                    else
                    {
                        <label class="control-label">@Model.Name</label>
                    }
                </div>
                <div class="@offsetClass">
                    @Html.ValidationMessageFor(m => m.Name, "")
                </div>
            </div>

            @*Project*@
            <div class="form-group">
                <label class="control-label required @labelClass"><span class="pull-left">@GeneralResources.Project</span><span class="pull-right">:</span></label>
                <div class="@inputClass">
                    @if (canEdit || Model.ProjectTaskID == 0)
                    {
                        @Html.TextBoxFor(m => m.ProjectName, new { @class = "form-control input", placeholder = String.Format(FrameworkResources.TypeFormat, GeneralResources.Project) })
                        @Html.HiddenFor(x => x.ProjectID)
                    }
                    else
                    {
                        <label class="control-label">@Model.ProjectName</label>
                    }
                </div>
                <div class="@offsetClass">
                    @Html.ValidationMessageFor(m => m.ProjectName, "")
                </div>
            </div>

            @*ParentTask*@
            <div class="form-group">
                <label class="control-label @labelClass"><span class="pull-left">@GeneralResources.Parent</span><span class="pull-right">:</span></label>
                <div class="@inputClass">
                    @if (canEdit || Model.ProjectTaskID == 0)
                    {
                        @Html.TextBoxFor(m => m.ParentName, new { @class = "form-control input", placeholder = String.Format(FrameworkResources.TypeFormat, GeneralResources.ParentName) })
                        @Html.HiddenFor(x => x.ParentTaskID)
                    }
                    else
                    {
                        <label class="control-label">@Model.ParentName</label>
                    }
                </div>
                <div class="@offsetClass">
                    @Html.ValidationMessageFor(m => m.ParentProjectTask, "")
                </div>
            </div>

            @*Description*@
            <div class="form-group">
                <label class="control-label @labelClass"><span class="pull-left">@GeneralResources.Description</span><span class="pull-right">:</span></label>
                <div class="@inputClass">
                    @if (canEdit)
                    {
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control input" })
                    }
                    else
                    {
                        <label class="control-label">@Model.Description</label>
                    }
                </div>
                <div class="@offsetClass">
                    @Html.ValidationMessageFor(m => m.Description, "")
                </div>
            </div>

            @Html.HiddenFor(x => x.Priority)
            @*Priority*@
            @*<div class="form-group">
                    <label class="control-label required @labelClass"><span class="pull-left">Priority</span><span class="pull-right">:</span></label>
                    <div class="@inputClass">
                        @if (canEdit)
                        {
                            @Html.TextBoxFor(m => m.Priority, new { @class = "form-control input", placeholder = String.Format(FrameworkResources.TypeFormat, GeneralResources.Name) })
                        }
                        else
                        {
                            <label class="control-label">@Model.Priority</label>
                        }
                    </div>
                    <div class="@offsetClass">
                        @Html.ValidationMessageFor(m => m.Priority, "")
                    </div>
                </div>*@

            @*EstHour*@
            <div class="form-group">
                <label class="control-label @labelClass"><span class="pull-left">@GeneralResources.EstHour</span><span class="pull-right">:</span></label>
                <div class="@inputClass">
                    @if (canEdit)
                    {
                        @Html.TextBoxFor(m => m.EstHour, new { @class = "form-control input", placeholder = String.Format(FrameworkResources.TypeFormat, GeneralResources.EstHour) })
                    }
                    else
                    {
                        <label class="control-label">@Model.EstHour</label>
                    }
                </div>
                <div class="@offsetClass">
                    @Html.ValidationMessageFor(m => m.EstHour, "")
                </div>
            </div>

            @*TargetDate*@
            @*<div class="form-group @firstColumnClass">
                    <label class="control-label required @labelClass" for="TargetDate">
                        <span class="pull-left">@GeneralResources.TargetDate</span>
                        <span class="pull-right">:</span>
                    </label>
                    <div class="@inputClass">
                        @if (canEdit)
                        {
                            @Html.TextBox("TargetDate", Model.TargetDate.Value.ToString("dd/MM/yyyy"), new { @class = "form-control", placeholder = String.Format(FrameworkResources.TypeFormat, GeneralResources.TargetDate) })
                        }
                        else
                        {
                            <label class="control-label">@Model.TargetDate.Value.ToString("dd/MM/yyyy")</label>
                            @Html.Hidden("TargetDate", Model.TargetDate)
                        }
                    </div>
                    <div class="@offsetClass">
                        @Html.ValidationMessageFor(x => x.TargetDate, string.Empty)
                    </div>
                </div>*@

        </div>

        @*IsActive*@
        <div class="@secondColumnClass">
            <div class="checkbox">
                @if (canEdit)
                {
                    <label>@Html.CheckBoxFor(m => m.IsActive, viewCustomClass) @FrameworkResources.Active</label>
                }
            </div>
            <div class="checkbox">
                @if (canEdit)
                {
                    <label>@Html.CheckBoxFor(m => m.IsRoutine, viewCustomClass) @GeneralResources.Routine</label>
                }
            </div>
            <div class="checkbox">
                @if (canEdit)
                {
                    <label>@Html.CheckBoxFor(m => m.IsClosed, viewCustomClass) @GeneralResources.Closed </label>
                }
            </div>
        </div>

        @if (canEdit)
        {
            <div class="@firstColumnClass">
                <div class="form-group">
                    <div class="@offsetClass">
                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> @FrameworkResources.Save</button>
                        <button type="button" class="btn btn-default button-cancel" targetlink="@currentURL">@FrameworkResources.Cancel</button>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="@firstColumnClass">
                <div class="form-group">
                    <div class="@offsetClass">
                        <button type="button" class="btn btn-default button-cancel" targetlink="@currentURL">@FrameworkResources.Back</button>
                    </div>
                </div>
            </div>
        }

        <div class="col-md-12 hidden">
            <label>Child Tasks</label>
            <div class="table-responsive">
                <table name="child-task-data" class="table table-striped table-list">
                    <thead>
                        <tr>
                            <th title="@GeneralResources.Name">@GeneralResources.Name</th>
                            <th title="@GeneralResources.Assignee">@GeneralResources.Assignee</th>
                            <th title="@GeneralResources.EstHour">@GeneralResources.EstHour</th>
                            <th title="@GeneralResources.TargetDate">@GeneralResources.TargetDate</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.ChildProjectTasks.Count() > 0)
                        {
                            foreach (ProjectTask item in Model.ChildProjectTasks)
                            {
                                <tr name="row-@item.ProjectTaskID" taskName="@item.Name" taskID="@item.ProjectTaskID">

                                    <td title="@item.Name">
                                        <span>@item.Name</span>
                                    </td>
                                    <td title="@item.AssigneeNames">
                                        <span>@item.AssigneeNames</span>
                                    </td>
                                    <td title="@item.EstHour">
                                        <span>@item.EstHour</span>
                                    </td>
                                    <td title="@item.TargetDate">
                                        <span>@item.TargetDate</span>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr class="div-nodata">
                                <td colspan="6" class="text-center">@GeneralResources.EmptyData</td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>

    </div>
}
