﻿@using ReportingWeb.Models
@using BusinessServiceFramework.Models
@using DomainModelFramework
@using ReportingBusinessService.Models

@model List<NavigationSettings>

@{
    Info info = (Info)ViewBag.Info;
    Layout = "~/Views/Shared/" + info.Theme + "/_AdminLayout.cshtml";
}

@Html.Partial("_AlertPartial")

<div class="form-group">
    <h3 class="loader">@GeneralResources.Settings</h3>
    <hr />
</div>

<div class="div-admin-content">

    <div class="div-list">

        <div class="form-group panel-group">

            @foreach (NavigationSettings item in Model)
            {
                <div class="panel panel-default">
                    <div class="panel-heading" title="@item.Value"><a href="@item.Link">@item.Value</a></div>
                    <div class="panel-body" title="@item.Description">@item.Description</div>
                </div>
            }

        </div>

    </div>

</div>