﻿@using ReportingWeb.Models

@{
    Layout = "";
}

@model FileUploadResponseModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Upload</title>
</head>
<body>
    <script type='text/javascript'>window.parent.CKEDITOR.tools.callFunction('@Model.ExtraData', '@Model.ImagePath', '@Model.Message');</script>
</body>
</html>