.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 15px;
}

.light-border {
    border-style: solid;
    border-width: 1px;
    border-color: #e5e5e5;
    border-radius: 5px;
}

.paging {
    width: 100%;
    margin-top: 30px;
    margin-right: 20px;
}

.pagination {
    float: right;
}
