﻿.div-body-content {
    padding-top: 60px;
}

.body-content > div {
    display: table;
    margin: 0px auto;
}

    .body-content > div > div {
        float: left;
        padding: 0 1em;
        max-width: 75%;
    }

        .body-content > div > div:first-child {
            padding: 0px 1em;
            margin-top: 20px;
            max-width: 25%;
        }
