﻿@media only screen and (max-width: 767px) {

    .home-title {
        font-size: 25px;
    }
}

.display-block {
    display: block;
}

.label-blue {
    color: #960a0a;
}

.no-padding {
    padding: 0px;
}

.header-image {
    max-width: 100%;
}

.div-banner {
    position: relative;
}

.home-content {
    margin: 35px;
    min-width: 100px;
}

.home-title {
    margin: 40px;
    text-align: center;
}
