﻿#loginForm {
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    overflow: hidden;
    background-color: white;
    padding: 35px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 5px 18px -1px rgba(100,100,100,1);
}

#loginlabel {
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    padding: 5px;
    text-align: center;
}

#loginForm input:not([type="checkbox"]), #loginForm select, #loginForm textarea, #loginForm #btn-login {
    max-width: none;
    min-width: 100%;
}

#loginForm .alert {
    word-break: break-all;
}

.container.body-content {
    padding-top: 30px;
    padding-bottom: 30px;
}

@media(max-width:767px) {
    #loginForm {
        max-width: 350px;
    }
}

.loginfooter {
    margin-top: 30px;
    color: #fff;
}

    .loginfooter a:hover {
        color: #c50d0d !important;
    }

.text-color-password {
    color: #777;
}

.bg-login {
    background: url("../../Images/bg-login.jpg") no-repeat center !important;
}
