﻿.label-name {
    min-width: 250px;
}

.report-container {
    display: none;
    overflow-y: auto;
    max-height: 700px;
}

.page-title, .page-subtitle {
    text-align: center;
}

.page-title, .table-subheader {
    font-weight: bold;
}

.page-data {
    margin-top: 30px;
}

    .page-data table.table-data {
    }

        .page-data table.table-data > thead {
            display: table-header-group !important;
        }

        .page-data table.table-data, .page-data table.table-data * {
            border: 1px #f2eeee solid !important;
        }

            .page-data table.table-data > thead, .page-data table.table-data > thead > tr > th {
                border: 1px #000 solid !important;
            }

            .page-data table.table-data th, .page-data table.table-data td {
                padding: 8px !important;
            }

    .page-data .table-column {
        word-break: break-all;
    }

.text-italic {
    font-style: italic !important;
}

@media print {
    @page {
        size: A4;
        margin: 10mm !important;
    }

    body *:not(.body-content):not(.table-data):not(.table-header):not(.table-body):not(.table-row):not(.table-column) {
        display: none;
    }

    body, .container, .body-content > .row, .report-container, .report-container * {
        margin: 0 !important;
        padding: 0 !important;
    }

    .div-admin-content {
        display: none !important;
    }

    .page-data {
        margin-top: 5mm !important;
    }

        .page-data table.table-data {
            display: table !important;
        }

    .body-content > .row, .report-container, .report-container *:not(.table-data):not(.table-header):not(.table-body):not(.table-row):not(.table-column) {
        display: block !important;
    }

    @-moz-document url-prefix() {
        .report-container {
            width: 190mm !important;
            font-size: 9pt !important;
        }

        .page-title, .page-subtitle {
            font-size: 11pt !important;
        }
    }

    .report-container {
        max-height: none !important;
        width: 100%;
        font-size: 12pt;
        /*-webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        position: absolute;
        top: 0;
        left: 100%;
        -webkit-transform-origin: left top;
        width: 270mm !important;*/
    }

    .page-title, .page-subtitle {
        font-size: 16pt;
    }
}
