﻿@media(min-width:767px) {
    #btn-login-header > a {
        padding: 10px;
        background-color: #960a0a;
        padding: 5px;
        border-radius: 5px;
        color: white;
        margin-top: 11px;
        width: 80px;
        text-align: center;
    }
}

@media(max-width:767px) {
    .label-login-info {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    min-height: 300px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.field-validation-error {
    color: #c93c3c;
}

.input-validation-error {
    color: white;
    background-color: #f57373;
    border-color: #f57373;
}

    .input-validation-error:focus {
        outline: 0;
    }

    .input-validation-error::-webkit-input-placeholder {
        color: white;
    }

    .input-validation-error:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: white;
        opacity: 1;
    }

    .input-validation-error::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: white;
        opacity: 1;
    }

    .input-validation-error:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: white;
    }

.div-list thead {
    background-color: #ececec;
    font-weight: bold;
}

.label-login-info {
    padding: 15px;
    line-height: 25px;
    display: block;
}
