.webgrid {
    margin: 4px;
    border-collapse: collapse;
    width: 90%;
}

.header {
    padding: 6px 5px;
    text-align: center;
    background-color: #e8eef4;
    border-bottom: 2px solid #3966A2;
    height: 40px;
    font-weight: bold;
    border-top: 2px solid #D6E8FF;
    border-left: 2px solid #D6E8FF;
    border-right: 2px solid #D6E8FF;
}

.webgrid th, .webgrid td {
    border: 1px solid #C0C0C0;
    padding: 5px;
}

.alt {
    background-color: #E8E8E8;
    color: #000;
}

.product {
    width: 50px;
    font-weight: bold;
}

.clickable {
    cursor: pointer;
    background: #ffff99;
}

.grid {
    margin-top: 100px;
    margin-left: 10px;
    margin-bottom: 50px;
}
