﻿.bx-wrapper {
    position: relative;
    padding: 0;
    *zoom: 1;
    margin: 0 auto;
}

    .bx-wrapper a {
        color: #1e1f21;
    }

        .bx-wrapper a:hover {
            color: #aaa;
            text-decoration: none;
        }

        .bx-wrapper a span {
            position: relative;
            z-index: 999999;
        }

        .bx-wrapper a img {
            max-width: 100%;
            display: block;
            border: solid 1px transparent;
        }

            .bx-wrapper a img:hover {
                border: solid 1px #222222;
            }

    .bx-wrapper .bx-viewport {
        -webkit-transform: translatez(0);
        -moz-transform: translatez(0);
        -ms-transform: translatez(0);
        -o-transform: translatez(0);
        transform: translatez(0);
    }

    .bx-wrapper .bx-pager,
    .bx-wrapper .bx-controls-auto {
        position: absolute;
        width: 100%;
    }

    .bx-wrapper .bx-loading {
        min-height: 50px;
        background: url(../../Images/bx_loader.gif) center center no-repeat #fff;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2000;
    }

    .bx-wrapper .bx-pager {
        text-align: center;
        font-size: .85em;
        font-family: Arial;
        font-weight: bold;
        color: #666;
    }

        .bx-wrapper .bx-pager .bx-pager-item,
        .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
            display: none;
        }

        .bx-wrapper .bx-pager.bx-default-pager a {
            display: none;
        }

            .bx-wrapper .bx-pager.bx-default-pager a:hover,
            .bx-wrapper .bx-pager.bx-default-pager a.active {
                background: #000;
                top: -300px;
            }

    .bx-wrapper .bx-prev {
        left: -.5%;
        background: url(../../Images/controls.png) no-repeat 0 -32px;
    }

    .bx-wrapper .bx-next {
        right: -.5%;
        background: url(../../Images/controls.png) no-repeat -43px -32px;
    }

    .bx-wrapper .bx-prev:hover {
        background-position: 0 0;
    }

    .bx-wrapper .bx-next:hover {
        background-position: -43px 0;
    }

    .bx-wrapper .bx-controls-direction a {
        position: absolute;
        top: 55%;
        margin-top: -16px;
        outline: 0;
        width: 32px;
        height: 32px;
        text-indent: -9999px;
        z-index: 9999;
    }

        .bx-wrapper .bx-controls-direction a.disabled {
            display: none;
        }

    .bx-wrapper .bx-controls-auto {
        text-align: center;
    }

        .bx-wrapper .bx-controls-auto .bx-start {
            display: block;
            text-indent: -9999px;
            width: 10px;
            height: 11px;
            outline: 0;
            background: url(../../Images/controls.png) -86px -11px no-repeat;
            margin: 0 3px;
        }

            .bx-wrapper .bx-controls-auto .bx-start:hover,
            .bx-wrapper .bx-controls-auto .bx-start.active {
                background-position: -86px 0;
            }

        .bx-wrapper .bx-controls-auto .bx-stop {
            display: block;
            text-indent: -9999px;
            width: 9px;
            height: 11px;
            outline: 0;
            background: url(../../Images/controls.png) -86px -44px no-repeat;
            margin: 0 3px;
        }

            .bx-wrapper .bx-controls-auto .bx-stop:hover,
            .bx-wrapper .bx-controls-auto .bx-stop.active {
                background-position: -86px -33px;
            }

.bx-viewport {
    margin: 10px 30px;
    width: 95% !important;
}

.bxslider li {
    padding-top: 5px;
}

.selected {
    font-weight: 700;
    font-size: 1.2em;
}
