﻿@using ReportingWeb.Models
@using BusinessServiceFramework.Models
@using DomainModelFramework
@using ReportingBusinessService.Models

@model ListModel

@Scripts.Render("~/bundles/projecttaskmembers")
@Styles.Render("~/Content/projecttaskmembers/css")

@{
    Info info = (Info)ViewBag.Info;
    Layout = "~/Views/Shared/" + info.Theme + "/_AdminLayout.cshtml";
}

<script type="text/javascript">

    var url_approveReject = '@Url.Action("ApproveReject")';

    var customResources = {
        ConfirmApprove: '@GeneralResources.ConfirmApprove',
        Approve: '@GeneralResources.Approve',
        ConfirmReject: '@GeneralResources.ConfirmReject',
        Reject: '@GeneralResources.Reject',
    }

</script>

@Html.Partial("_ListPartial", Model)

<!-- Modal Reject Confirmation-->
<div id="modal-reject-confirmation" class="modal-container">
    <div class="modal-body">
        <div class="reject-container">
            <span class="reject-confirmation"></span>
            @Html.TextArea("reject-reason", new { @class = "form-control reject-reason", placeholder = String.Format(FrameworkResources.TypeFormat, GeneralResources.Reason) })
        </div>
    </div>
</div>
