﻿.nav-admin {
    background: #960a0a;
    margin-bottom: 15px;
    max-height: 50px;
}

    .nav-admin .bx-wrapper a {
        color: white !important;
    }

.selected {
    font-weight: bold !important;
    font-size: 1em !important;
}

.div-search {
    /*width: 85%;*/
    margin-left: auto;
    margin-right: auto;
}

.label-name {
    min-width: 100px;
    padding-right: 5px;
}

.div-search-item {
    margin-bottom: 15px;
}

    .div-search-item .chosen-select, .div-search-item .chosen-container {
        width: auto !important;
        max-width: 700px !important;
        min-width: 500px !important;
    }

}

.div-nodata {
    float: none;
    display: table;
    text-align: center;
}

    .div-nodata > div {
        vertical-align: middle;
        display: table-cell;
        height: 300px;
    }

.active-marker {
    background-color: #149b86;
    color: #fff;
    padding: 3px;
    border-radius: 4px;
    font-size: 10px;
    text-align: center;
    overflow: hidden;
    width: auto;
    min-width: 50px;
    margin-bottom: 3px;
}

.inactive-marker {
    background-color: #9a9a9a;
    color: #fff;
    padding: 3px;
    border-radius: 4px;
    font-size: 10px;
    text-align: center;
    overflow: hidden;
    width: auto;
    min-width: 50px;
    margin-bottom: 3px;
}

.green-marker {
    background-color: #149b86;
    color: #fff;
    padding: 3px;
    border-radius: 4px;
    font-size: 10px;
    text-align: center;
    overflow: hidden;
    width: auto;
    min-width: 50px;
    margin-bottom: 3px;
}

.gray-marker {
    background-color: #9a9a9a;
    color: #fff;
    padding: 3px;
    border-radius: 4px;
    font-size: 10px;
    text-align: center;
    overflow: hidden;
    width: auto;
    min-width: 50px;
    margin-bottom: 3px;
}

.red-marker {
    background-color: red;
    color: #fff;
    padding: 3px;
    border-radius: 4px;
    font-size: 10px;
    text-align: center;
    overflow: hidden;
    width: auto;
    min-width: 50px;
    margin-bottom: 3px;
}

.filter-button {
    position: relative;
    top: -20px;
    float: left;
}

.owner-form-label {
    padding-top: 7px;
}


@media (max-width: 1199px) {
    .div-search .label-name, #div-sort .label-name {
        min-width: 150px;
    }
}

@media (max-width: 991px) {
    .div-search input, .div-search select {
        max-width: none;
    }

    #div-sort select {
        max-width: 550px;
    }

    .div-search .label-to {
        width: 100%;
        text-align: center;
    }

    .div-search-item .chosen-select, .div-search-item .chosen-container {
        width: 100% !important;
        max-width: none !important;
    }

    #div-buttons button {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media (max-width: 767px) {
    #div-sort select {
        max-width: none;
    }
}
