﻿/* Remove underlines from links */
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

#main-navbar {
    min-width: 350px;
}

.modal-container {
    position: absolute;
    z-index: -99;
    left: -1000px;
}

.container {
    min-width: 350px;
}

.chosen-container-single .chosen-single abbr {
    background: url('../../Images/chosen/chosen-sprite.png') -42px 1px no-repeat !important;
}

.chosen-container-single .chosen-single div b {
    background: url("../../Images/chosen/chosen-sprite.png") no-repeat 0px 2px !important;
}

.chosen-container-single .chosen-search input[type="text"] {
    background: url("../../Images/chosen/chosen-sprite.png") no-repeat 100% -20px !important;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    background: url("../../Images/chosen/chosen-sprite.png") -42px 1px no-repeat !important;
}

.chosen-rtl .chosen-search input[type="text"] {
    background: url("./../Images/chosen/chosen-sprite.png") no-repeat -30px -20px !important;
}

body {
    font-family: 'Hind', sans-serif;
}

a {
    font-family: 'Hind', sans-serif;
}

.default-font {
    font-family: 'Hind', sans-serif;
}

#btn-contactus {
    background-color: #960a0a !important;
    min-width: 90px;
    text-align: center;
}

    #btn-contactus:hover {
        font-weight: bold;
    }

.btn-primary {
    background-color: #960a0a;
    border: 0px !important;
}

.btn-primary:focus {
    background-color: #960a0a!important;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-default {
    /*height: 60px;*/
    background-color: white;
}

    .navbar-default.loginpage {
        border-bottom-color: #bed5db;
        border-bottom-width: 1px !important;
        border-left: 0px;
        border-right: 0px;
        border-top: 0px;
        background: url("../../../../Images/bg_login.png") no-repeat !important;
    }

    .navbar-default .navbar-brand {
        color: black;
    }

    .navbar-default .navbar-nav > li > a {
        color: black;
        line-height: 25px;
    }

    .navbar-default .navbar-toggle {
        background-color: white;
        margin-top: 10px;
    }

        .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
            border-color: #0766b6;
            background-color: white;
        }

    .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
        color: black;
        font-weight: bold;
        /*background-color: #b3cee8;*/
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover {
        background-color: #b3cee8 !important;
    }

    .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
        color: black;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #960a0a;
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        background-color: white;
        z-index: 10000;
    }

    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        background-color: white;
        color: black;
    }

    .navbar-default .navbar-brand > img {
        max-width: 100px;
    }

.navbar-collapse {
    border-top: none;
}

.navbar-toggle {
    float: left;
    margin-left: 15px;
}

.footer {
    margin-top: 20px !important;
}

.footer-top {
    background-color: #001f3e;
    padding: 15px;
    color: #fff;
}

.footer-item {
    background-color: #001f3e;
}

.footer-mailto {
    color: white;
}

    .footer-mailto:hover {
        color: #960a0a;
    }

footer {
    background-color: #001f3e;
    overflow-y: hidden;
}

    footer .container > div {
        padding-top: 5px;
        padding-bottom: 5px;
        color: #fff;
    }

.footer-pull-left {
    padding-left: 0px;
}

#footer-social-media .list-inline > li {
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 20px;
}

.footer-border-top {
    padding-top: 10px;
    border-top: 1px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-color: white;
    border-style: solid;
}

.footer-list {
    padding-left: 0px !important;
}

    .footer-list > li {
        list-style-image: none;
        list-style: none;
        list-style-type: none;
    }

        .footer-list > li > a {
            color: white;
            padding: 0px;
        }

.no-padding-left {
    padding-left: 0px !important;
}

.footer-contactus-textbox {
    min-width: 100px !important;
    background-color: #960a0a !important;
    border: 0px;
    color: white !important;
}

    .footer-contactus-textbox.form-control::-moz-placeholder {
        color: white !important;
    }

.footer-contactus-alert {
    max-width: 385px;
}

.footer-contactus-form-small {
    max-width: 200px;
}

.footer-contactus-textbox-wide {
    min-width: 385px !important;
    background-color: #960a0a !important;
    border: 0px;
    color: white !important;
}

    .footer-contactus-textbox-wide.form-control::-moz-placeholder {
        color: white !important;
    }

.container.body-content {
    padding-top: 25px;
    padding-bottom: 25px;
}

.breadcrumb {
    margin-bottom: 0;
}

.required {
    font-weight: bold !important;
}

label:not(.required) {
    font-weight: normal !important;
}

a {
    cursor: pointer;
}

.list-icon {
    text-align: right;
}

.languageMenu {
    z-index: 10000;
}


#modal-inner-loader {
    position: absolute;
    margin: 0 45%;
    background-color: #d6d6d6;
    padding: 10px;
    font-size: .9em;
    text-align: center;
}

.display-grid {
    display: grid;
}

.google-play {
    max-width: 20%;
}

@media(max-width:767px) {
    .form-responsive button, .form-responsive input:not([type="checkbox"]):not([type="radio"]), .form-responsive select, .form-responsive textarea {
        max-width: none !important;
        width: 100% !important;
    }

    .form-responsive button {
        margin-top: 15px !important;
    }

    .footer-item {
        margin-bottom: 20px;
    }

    .footer-contactus-textbox-wide {
        min-width: 300px !important;
    }

    #dropdown-language {
        padding-bottom: 0px !important;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: black;
    }

    .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
        background-color: #b3cee8;
    }
}

.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover {
    color: black;
    background-color: #0874cf;
    /*font-weight: bold;*/
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: black !important;
    font-weight: bold;
}

.footer-margin-right {
    margin-right: 25px;
}

.footer-terms {
    padding: 0px;
}

.footer-terms-font {
    color: white;
    font-size: 13px;
}

    .footer-terms-font:hover {
        color: #960a0a;
    }

@media(min-width:767px) {
    #dropdown-language {
        padding-left: 15px !important;
        margin-left: 20px !important;
    }

    .navbar-highlight {
        margin-left: 25px !important;
    }

    .footer-terms {
        margin-left: 80px;
    }
}
