﻿@using ReportingWeb.Models
@using BusinessServiceFramework.Models
@using DomainModelFramework
@using ReportingBusinessService.Models
@using ReportingDomainModel

@model ListModel

@{
    Info info = (Info)ViewBag.Info;
    Layout = "~/Views/Shared/" + info.Theme + "/_AdminLayout.cshtml";
}

<script type="text/javascript">
    generalResources.Period = '@FrameworkResources.Period';
    generalResources.User = '@GeneralResources.User';
    var reportType = "member";
    var url_get_preview = '@Url.Action("GetPreviewData")';
</script>

@Html.Partial("_ListPartial", Model)

@Styles.Render("~/Content/reports/css")

<div class="form-group report-container">

</div>

