﻿@using ReportingWeb.Models
@using BusinessServiceFramework.Models
@using DomainModelFramework
@using ReportingBusinessService.Models

@Styles.Render("~/Content/home/css")
@Scripts.Render("~/bundles/home")

<div>
    <div>
        <div class="div-banner">
            <div>
                @Html.Partial("_BannerItemPartial", (Navigation)ViewBag.BannerNavItems)
            </div>
        </div>
    </div>
</div>
