﻿@using ReportingWeb.Models
@using DomainModelFramework

@model ErrorModel

@{
    ViewBag.Title = FrameworkResources.Error;
}


@Styles.Render("~/Content/error")
@Scripts.Render("~/bundles/error")

@if (Model != null)
{

    <div class="body-content container">
        <div>
            <div>
                <div class="form-group">
                    <img id="img-error" src="@Url.Content("~/Images/error-icon.png")" alt="error-icon.png" />
                </div>
            </div>

            <div>
                <div class="form-group">
                    <h3 class="text-danger">@FrameworkResources.Error</h3>
                </div>


                @if (Model.Code.HasValue)
                {
                    int codeNumber = (int)Model.Code.Value;
                    <div class="form-group">
                        <h4 class="">@codeNumber - @FrameworkResources.ResourceManager.GetString(Model.Code.HasValue ? Model.Code.Value.ToString() : "NotFound")</h4>
                    </div>
                }

                <div class="">
                    <div class="form-group">
                        @Model.ErrorMessage
                    </div>

                    <div class="form-group">
                        @FrameworkResources.ContactAdminDesc
                    </div>
                </div>

            </div>
        </div>

    </div>

}

