﻿@using ReportingBusinessService.Models
@using ReportingDomainModel
@using DomainModelFramework
@using ReportingWeb.Models

@model User

@{
    Info info = (Info)ViewBag.Info;
    Layout = "~/Views/Shared/" + info.Theme + "/_AdminLayout.cshtml";
    string currentURL = Url.Action("Index", "AdminUsers");
    GeneralSettings generalSettings = (GeneralSettings)ViewBag.GeneralSettings;

    bool canEdit = (bool)ViewBag.CanEdit;

    object viewCustomClass = new { };

    if (!canEdit)
    {
        viewCustomClass = new { @disabled = "disabled" };
    }
}

<script type="text/javascript">
    generalResources.NoDataAvailable = '@FrameworkResources.NoDataAvailable';
</script>

@using (Html.BeginForm("Detail", "AdminUsers", FormMethod.Post, new { @class = "form-horizontal form-responsive", role = "form", autocomplete = "off" }))
{
    string firstColumnClass = "col-lg-8 col-md-8 col-sm-8 col-xs-12";
    string secondColumnClass = "col-lg-4 col-md-4 col-sm-4 col-xs-12";

    string labelClass = "col-lg-3 col-md-3 col-sm-3 hidden-xs";
    string inputClass = "col-lg-9 col-md-9 col-sm-9 col-xs-12";
    string offsetClass = inputClass + " col-lg-offset-3 col-md-offset-3 col-sm-offset-3";
    string fullWidthClass = "col-lg-12 col-md-12 col-sm-12 col-xs-12";

    @Html.HiddenFor(x => x.UserID)
    @Html.HiddenFor(x => x.CreatedDate)
    @Html.HiddenFor(x => x.CreatedBy)
    @Html.HiddenFor(x => x.ModifiedDate)
    @Html.HiddenFor(x => x.ModifiedBy)

    <div class="form-group">
        <div class="@fullWidthClass">
            <h3>@ViewBag.Title</h3>
            <hr />
        </div>
    </div>

    <div id="div-alert-error" class="alert alert-danger form-group @Html.Raw(string.IsNullOrEmpty(ViewBag.ErrorDetail) ? "hidden" : "")">
        <span class="glyphicon glyphicon-exclamation-sign"></span> @Html.Raw(ViewBag.ErrorDetail)
    </div>

    <div class="row">
        <div class="@firstColumnClass">

            @*Name*@
            <div class="form-group">
                <label class="control-label required @labelClass"><span class="pull-left">@GeneralResources.Name</span><span class="pull-right">:</span></label>
                <div class="@inputClass">
                    @if (canEdit)
                    {
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control input", placeholder = String.Format(FrameworkResources.TypeFormat, GeneralResources.Name) })
                    }
                    else
                    {
                        <label class="control-label">@Model.Name</label>
                    }
                </div>
                <div class="@offsetClass">
                    @Html.ValidationMessageFor(m => m.Name, "")
                </div>
            </div>

            @*Email*@
            <div class="form-group">
                <label class="control-label required @labelClass"><span class="pull-left">@GeneralResources.Email</span><span class="pull-right">:</span></label>
                <div class="@inputClass">
                    @if (canEdit)
                    {
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control input", placeholder = String.Format(FrameworkResources.TypeFormat, GeneralResources.Email) })
                    }
                    else
                    {
                        <label class="control-label">@Model.Email</label>
                    }
                </div>
                <div class="@offsetClass">
                    @Html.ValidationMessageFor(m => m.Email, "")
                </div>
            </div>

        </div>

        @*IsActive*@
        <div class="@secondColumnClass">
            <div class="checkbox">
                @if (canEdit)
                {
                    <label>@Html.CheckBoxFor(m => m.IsActive, viewCustomClass) @FrameworkResources.Active</label>
                }
            </div>
        </div>

        @if (canEdit)
        {
            <div class="@firstColumnClass">
                <div class="form-group">
                    <div class="@offsetClass">
                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> @FrameworkResources.Save</button>
                        <button type="button" class="btn btn-default button-cancel" targetlink="@currentURL">@FrameworkResources.Cancel</button>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="@firstColumnClass">
                <div class="form-group">
                    <div class="@offsetClass">
                        <button type="button" class="btn btn-default button-cancel" targetlink="@currentURL">@FrameworkResources.Back</button>
                    </div>
                </div>
            </div>
        }

    </div>
}
