﻿@using ReportingWeb.Models
@using BusinessServiceFramework.Models
@using DomainModelFramework
@using ReportingBusinessService.Models

@model UserModel

@{
    Info info = (Info)ViewBag.Info;
    Layout = "~/Views/Shared/" + info.Theme + "/_Layout.cshtml";

    bool isLoginSuper = ViewBag.IsLoginSuper;
}

<div class="body-content container">

    <div class="breadcrumb-container">
        @Html.Partial("_BreadcrumbPartial", (IEnumerable<BreadcrumbItem>)ViewBag.Breadcrumbs)
    </div>

    <div class="form-group">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>@ViewBag.Title</h3>

            <ul class="nav nav-tabs">
                <li class="active"><a href="#">@GeneralResources.MyInfo</a></li>
            </ul>
            <br />

        </div>
    </div>

    @Html.Partial("_MyAccountPartial", Model)
</div>

