﻿@using ReportingBusinessService.Models
@using ReportingDomainModel
@using DomainModelFramework
@using ReportingWeb.Models
@using System.Web.Helpers

@model DailyScrum

@{
    Info info = (Info)ViewBag.Info;
    Layout = "~/Views/Shared/" + info.Theme + "/_AdminLayout.cshtml";
    string currentURL = Url.Action("Index", "AdminDailyScrums");
    GeneralSettings generalSettings = (GeneralSettings)ViewBag.GeneralSettings;
    DeveloperSettings devSettings = (DeveloperSettings)ViewBag.DeveloperSettings;

    User currentUser = ViewBag.CurrentUser != null ? ViewBag.CurrentUser as User : null;

    bool canEdit = (bool)ViewBag.CanEdit;

    object viewCustomClass = new { };

    if (!canEdit)
    {
        viewCustomClass = new { @disabled = "disabled" };
    }
}

<script type="text/javascript">
    var url_users = '@Url.Action("GetActiveMembers")';
    var url_projecttasks = '@Url.Action("GetActiveProjectTasks")';
    var url_description = '@Url.Action("GetExistingDescriptions")';
    var url_add_new_row = '@Url.Action("AddNewTaskRow")';

    $.extend(generalResources, {
        NoDataAvailable: '@FrameworkResources.NoDataAvailable',
        EmptyData: '@GeneralResources.EmptyData',
        FieldRequired: '@FrameworkResources.FieldRequired',
        FilteredBy: '@GeneralResources.FilteredBy',
        SelectTaskRemoved: '@GeneralResources.SelectTaskRemoved',
        NoDataSelected: '@FrameworkResources.NoDataSelected',
        NewRowAdded: '@GeneralResources.NewRowAdded',
    });

</script>

@Scripts.Render("~/bundles/dailyscrum")

@using (Html.BeginForm("Detail", "AdminDailyScrums", FormMethod.Post, new { @class = "form-horizontal form-responsive", role = "form", autocomplete = "off" }))
{
    string firstColumnClass = "col-lg-9 col-md-9 col-sm-9 col-xs-12";
    string secondColumnClass = "col-lg-4 col-md-4 col-sm-4 col-xs-12";

    string labelClass = "col-lg-3 col-md-3 col-sm-3 hidden-xs";
    string inputClass = "col-lg-9 col-md-9 col-sm-9 col-xs-12";
    string offsetClass = inputClass + " col-lg-offset-3 col-md-offset-3 col-sm-offset-3";
    string fullWidthClass = "col-lg-12 col-md-12 col-sm-12 col-xs-12";

    @Html.HiddenFor(x => x.DailyScrumID)
    @Html.HiddenFor(x => x.CreatedDate)
    @Html.HiddenFor(x => x.CreatedBy)
    @Html.HiddenFor(x => x.ModifiedDate)
    @Html.HiddenFor(x => x.ModifiedBy)

    <div class="form-group">
        <div class="@fullWidthClass">
            <h3>@ViewBag.Title</h3>
            <hr />
        </div>
    </div>

    <div id="div-alert-error" class="alert alert-danger form-group @Html.Raw(string.IsNullOrEmpty(ViewBag.ErrorDetail) ? "hidden" : "")">
        <span class="glyphicon glyphicon-exclamation-sign"></span> @Html.Raw(ViewBag.ErrorDetail)
    </div>

    <div class="row">
        <div class="@fullWidthClass">

            @*Assignee*@
            <div class="form-group @firstColumnClass">
                <label class="control-label required @labelClass"><span class="pull-left">@GeneralResources.Name</span><span class="pull-right">:</span></label>
                <div class="@inputClass">
                    @if (canEdit || Model.DailyScrumID == 0)
                    {
                        @Html.TextBoxFor(m => m.AssigneeName, new { @class = "form-control input", placeholder = String.Format(FrameworkResources.TypeFormat, GeneralResources.Name) })
                        @Html.HiddenFor(x => x.AssigneeID)
                    }
                    else
                    {
                        <label class="control-label">@Model.User.FullName</label>
                    }
                </div>
                <div class="@offsetClass">
                    @Html.ValidationMessageFor(m => m.AssigneeName)
                </div>
            </div>

            @*Date*@
            <div class="form-group @firstColumnClass">
                <label class="control-label required @labelClass" for="Date">
                    <span class="pull-left">@GeneralResources.Date</span>
                    <span class="pull-right">:</span>
                </label>
                <div class="@inputClass">
                    @if (canEdit)
                    {
                        @Html.TextBox("Date", Model.Date.ToString(devSettings.ShortDateFormat), new { @class = "form-control", placeholder = String.Format(FrameworkResources.TypeFormat, GeneralResources.Date) })
                    }
                    else
                    {
                        <label class="control-label">@Model.Date.ToString(devSettings.ShortDateFormat)</label>
                        @Html.Hidden("Date", Model.Date)
                    }
                </div>
                <div class="@offsetClass">
                    @Html.ValidationMessageFor(x => x.Date, string.Empty)
                </div>
            </div>

            @if (canEdit)
            {
                <div class="form-group @firstColumnClass">
                    <label class="control-label required @labelClass">
                        <span class="pull-left">@GeneralResources.ProjectTask</span>
                        <span class="pull-right">:</span>
                    </label>
                    <div class="@inputClass">
                        @if (canEdit)
                        {
                            @Html.TextBox("AddTaskCount", "", new { @class = "form-control input", style = "max-width:50px; display:inline" })

                            <button type="button" class="btn btn-primary btn-add-tasks">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                @GeneralResources.AddTask
                            </button>

                            <button type="button" class="btn btn-default" name="remove-selected-task">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                @GeneralResources.Remove
                            </button>
                        }
                    </div>
                </div>
            }

            <div class="@fullWidthClass">

                <div id="div-alert-task-error" class="alert alert-danger @fullWidthClass @Html.Raw(string.IsNullOrEmpty(ViewBag.ErrorTaskDetail) ? "hidden" : "")">
                    <span class="glyphicon glyphicon-exclamation-sign"></span> @Html.Raw(ViewBag.ErrorTaskDetail)
                </div>

                <div id="div-alert-task-info" class="alert alert-info @fullWidthClass" style="display: none;">
                    <span class="glyphicon glyphicon-info-sign"></span>
                </div>

                <div class="table-responsive @fullWidthClass no-padding-left" style="margin-top:5px;margin-bottom:80px">
                    <table name="selected-task-data" class="table table-striped table-list">
                        <thead>
                            <tr>
                                @if (canEdit)
                                {
                                    <th><input name="select_all_selected_task" type="checkbox" /></th>
                                }
                                <th title="@GeneralResources.Project" style="width: 100px;">@GeneralResources.Project</th>
                                <th title="@GeneralResources.ProjectTask" style="width: 230px;">@GeneralResources.ProjectTask</th>
                                <th title="@GeneralResources.Description" style="width: 230px;">@GeneralResources.Description</th>
                                <th title="@GeneralResources.EstHour" style="width: 75px;">@GeneralResources.EstHour</th>
                                <th title="@GeneralResources.Priority" style="width: 120px;">@GeneralResources.Priority</th>
                                <th title="@GeneralResources.TargetDate" style="width: 120px;">@GeneralResources.TargetDate</th>
                                <th title="@GeneralResources.Notes">@GeneralResources.Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int indexData = 0;
                            }
                            @if (Model.DailyScrumDetails != null && Model.DailyScrumDetails.Count > 0)
                            {
                                foreach (DailyScrumDetail item in Model.DailyScrumDetails)
                                {
                                    ViewDataDictionary viewData = new ViewDataDictionary();
                                    viewData["CanEdit"] = canEdit;
                                    viewData["Priorities"] = ViewBag.Priorities;
                                    viewData["IndexData"] = indexData;
                                    viewData["DevSettings"] = devSettings;

                                    @Html.Partial("_DailyScrumDetailListPartial", item, viewData);

                                    indexData = indexData + 1;
                                }
                            }
                            else
                            {
                                <tr class="div-nodata">
                                    <td colspan="8" class="text-center">@GeneralResources.EmptyData</td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>

                @if (canEdit)
                {
                    <div class="@firstColumnClass">
                        <div class="form-group">
                            <div class="">
                                <button type="submit" class="btn btn-primary loader"><span class="glyphicon glyphicon-floppy-disk"></span> @FrameworkResources.Save</button>
                                <button type="button" class="btn btn-default button-cancel loader" targetlink="@currentURL">@FrameworkResources.Cancel</button>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="@firstColumnClass">
                        <div class="form-group">
                            <div class="">
                                <button type="button" class="btn btn-default button-cancel" targetlink="@currentURL">@FrameworkResources.Back</button>
                            </div>
                        </div>
                    </div>
                }

            </div>

        </div>

    </div>
}
