.bg-map {
    width: 8px; height: 11px;
    background: url('css_produk.png') -177px -54px;
}


.bg-new {
    width: 51px; height: 22px;
    background: url('css_produk.png') -162px -2px;
}


.bg-share {
    width: 42px; height: 42px;
    background: url('css_produk.png') -50px -67px;
}


.bg-share_hover {
    width: 42px; height: 42px;
    background: url('css_produk.png') -116px -2px;
}


.bg-wishlist {
    width: 42px; height: 42px;
    background: url('css_produk.png') -116px -48px;
}


.bg-wishlist_hover {
    width: 42px; height: 42px;
    background: url('css_produk.png') -2px -116px;
}


.bg-delete {
    width: 11px; height: 11px;
    background: url('css_produk.png') -162px -54px;
}


.bg-discount {
    width: 51px; height: 22px;
    background: url('css_produk.png') -162px -28px;
}


.bg-filter_hover {
    width: 44px; height: 45px;
    background: url('css_produk.png') -68px -2px;
}


.bg-filter_normal {
    width: 44px; height: 45px;
    background: url('css_produk.png') -2px -67px;
}


.bg-addtocart_hover {
    width: 42px; height: 42px;
    background: url('css_produk.png') -48px -116px;
}


.bg-addtocart {
    width: 42px; height: 42px;
    background: url('css_produk.png') -94px -116px;
}


.bg-grosir {
    width: 62px; height: 61px;
    background: url('css_produk.png') -2px -2px;
}